{% load static %}

<div class="col-xl-4 mb-5 mb-xl-10">
  <!--begin::Engage widget 4-->
  <div class="card border-transparent" data-bs-theme="light">
    <!--begin::Body-->
    <div class="card-body d-flex flex-column ps-xl-15 h-100">
      <!--begin::Wrapper-->
      <div class="m-0">
        <!--begin::Title-->
        <h6 class="text-muted opacity-75-hover me-2 fs-3 fw-bold">
          Smarter Command-line interface
        </h6>
        <!--end::Title-->
        <p class="mb-10">Powerful tools for managing your AI resources.</p>
        <!--begin::Action-->
        <div class="mb-3">
          <a
            href="https://smarter.sh/cli/"
            target="_blank"
            class="btn btn-sm btn-dark fw-semibold me-2"
            >Download</a
          >
          <a
            href="https://docs.smarter.sh/en/latest/smarter-framework/smarter-cli.html"
            target="_blank"
            class="btn btn-sm btn-secondary text-dark fw-semibold"
            >Documentation</a
          >
        </div>
        <!--end::Action-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::Engage widget 4-->
</div>
