{% load static %}

      <div class="col-xl-4 mb-xl-10">
        <!--begin::Download VS Code Extension widget 4-->
        <div class="card border-transparent" data-bs-theme="light" style="background-color: #1C325E;">
          <!--begin::Body-->
          <div class="card-body d-flex ps-xl-15">
            <!--begin::Wrapper-->
            <div class="m-0">
              <!--begin::Title-->
              <div class="position-relative fs-2x z-index-2 fw-bold text-white mb-7">
              <span class="me-2">VS Code Extension for Smarter manifests</span>
              <!--end::Title-->
              <!--begin::Action-->
              <div class="mb-3">
                <a href='https://marketplace.visualstudio.com/items?itemName=Querium.smarter-manifest' class="btn btn-danger fw-semibold me-2">Download</a>
              </div>
              <!--begin::Action-->
            </div>
            <!--begin::Wrapper-->
            <!--begin::Illustration-->
            <img src="{% static 'assets/media/illustrations/sigma-1/17-dark.png' %}" class="position-absolute me-3 bottom-0 end-0 h-200px" alt="" />
            <!--end::Illustration-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Download VS Code Extension widget 4-->
        </div>
      </div>
