{% load static %}

      <div class="col-xl-4 mb-xl-10">
        <!--begin::Download NPM widget 4-->
        <div class="card border-transparent" data-bs-theme="light" style="background-color: #1C325E;">
          <!--begin::Body-->
          <div class="card-body d-flex ps-xl-15">
            <!--begin::Wrapper-->
            <div class="m-0">
              <!--begin::Title-->
              <div class="position-relative fs-2x z-index-2 fw-bold text-white mb-7">
              <span class="me-2">React Chat component on NPM</span>
              <!--end::Title-->
              <!--begin::Action-->
              <div class="m-3 mt-5 text-center">
                <a href='https://www.npmjs.com/package/@smarter.sh/ui-chat' target="_blank" class="btn btn-danger fw-semibold me-2">Download</a>
              </div>
              <!--end::Action-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Illustration-->
            <img src="{% static 'images/npm-logo.png' %}" class="position-absolute me-3 top-0 end-0 h-75px pt-3" alt="" />
            <!--end::Illustration-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Download NPM widget 4-->
        </div>
