{% load static %}
      <!--begin::Col-->
      <div class="col-xl-4 mb-xl-10">
        <!--begin::Lists Widget 19-->
        <div class="card card-flush h-xl-100">
          <!--begin::Heading-->
          <div class="card-header rounded bgi-no-repeat bgi-size-cover bgi-position-y-top bgi-position-x-center align-items-start h-250px" style="background-image:url('{% static "assets/media/svg/shapes/top-green.png" %}');" data-bs-theme="light">
          <img
            src="{% static 'assets/media/svg/files/ai.svg' %}"
            class="position-absolute top-0 end-0 mt-3 me-3 h-75px"
            alt=""
          />

            <!--begin::Title-->
            <h3 class="card-title align-items-start flex-column text-white pt-15">
              <span class="fw-bold fs-2x mb-3">My Resources</span>
              <div class="fs-4 text-white">
                {% if dashboard.my_resources_pending_deployments > 0 %}
                <span class="opacity-75">You have</span>
                <span class="position-relative d-inline-block">
                  <a href="{% url 'prompt_workbench:listview' %}" class="link-white opacity-75-hover fw-bold d-block mb-1">{{ dashboard.my_resources_pending_deployments }} pending</a>
                  <!--begin::Separator-->
                  <span class="position-absolute opacity-50 bottom-0 start-0 border-2 border-body border-bottom w-100"></span>
                  <!--end::Separator-->
                </span>
                  {% if dashboard.my_resources_pending_deployments > 1 %}
                  <span class="opacity-75">deployments</span>
                  {% else %}
                  <span class="opacity-75">deployment</span>
                  {% endif %}
                {% endif %}
              </div>
            </h3>
            <!--end::Title-->
          </div>
          <!--end::Heading-->
          <!--begin::Body-->
          <div class="card-body mt-n20">
            <!--begin::Stats-->
            <div class="mt-n20 position-relative">
              <!--begin::Row-->
              <div class="row g-3 g-lg-6">
                <!--begin::Col-->
                <div class="col-6">
                  <!--begin::Items-->
                  <a href="{% url 'prompt_workbench:listview' %}">
                    <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                      <!--begin::Symbol-->
                      <div class="symbol symbol-30px me-5 mb-8">
                        <span class="symbol-label">
                          <i class="ki-duotone ki-technology-2 fs-1 text-primary">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </span>
                      </div>
                      <!--end::Symbol-->
                      <!--begin::Workbench-->
                      <div class="m-0">
                        <!--begin::Number-->
                        <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_chatbots }}</span>
                        <!--end::Number-->
                        <!--begin::Desc-->
                        <span class="text-gray-500 fw-semibold fs-6">Agents</span>
                        <!--end::Desc-->
                      </div>
                      <!--end::Workbench-->
                    </div>
                    </a>
                  <!--end::Items-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-6">
                  <a href="/admin/plugin/pluginmeta/">
                  <!--begin::Items-->
                  <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                      <span class="symbol-label">
                        <i class="ki-duotone ki-cube-2 fs-1 text-primary">
                          <span class="path1"></span>
                          <span class="path2"></span>
                        </i>
                      </span>
                    </div>
                    <!--end::Symbol-->

                    <!--begin::Plugins-->
                    <a href="{% url 'plugin:plugin_listview' %}">
                      <div class="m-0">
                        <!--begin::Number-->
                        <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_plugins }}</span>
                        <!--end::Number-->
                        <!--begin::Desc-->
                        <span class="text-gray-500 fw-semibold fs-6">Plugins</span>
                        <!--end::Desc-->
                      </div>
                    </a>
                    <!--end::Plugins-->

                  </div>
                  <!--end::Items-->
                  </a>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-6">
                  <!--begin::Items-->
                  <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                      <span class="symbol-label">
                        <i class="ki-duotone ki-key fs-1 text-primary">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                        </i>
                      </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Connections-->
                    <a class="menu-link" href="{% url 'connection:connection_listview' %}" target="_self">
                      <div class="m-0">
                        <!--begin::Number-->
                        <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_connections }}</span>
                        <!--end::Number-->
                        <!--begin::Desc-->
                        <span class="text-gray-500 fw-semibold fs-6">Connections</span>
                        <!--end::Desc-->
                      </div>
                      <!--end::Connections-->
                    </div>
                  </a>
                  <!--end::Items-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-6">
                  <!--begin::Items-->
                  <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                      <span class="symbol-label">
                        <i class="ki-duotone ki-bank fs-1 text-primary">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                        </i>
                      </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Secrets-->
                    <a class="menu-link" href="{% url 'provider:provider_listview' %}" target="_self">
                      <div class="m-0">
                        <!--begin::Number-->
                        <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_providers }}</span>
                        <!--end::Number-->
                        <!--begin::Desc-->
                        <span class="text-gray-500 fw-semibold fs-6">Providers</span>
                        <!--end::Desc-->
                      </div>
                    </a>
                    <!--end::Secrets-->
                  </div>
                  <!--end::Items-->
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Stats-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Lists Widget 19-->
      </div>
      <!--end::Col-->
