{% load static %}

<div class="col-xl-4 mb-5 mb-xl-10">
  <!--begin::SDKs-->
  <div class="card border-transparent" data-bs-theme="light">
    <!--begin::Body-->
    <div class="card-body d-flex flex-column ps-xl-15 h-100">
      <!--begin::Title-->
      <h6 class="text-muted  opacity-75-hover w-100 my-4 fs-3 fw-bold">
        Smarter Developer SDKs
      </h6>
      <!--end::Title-->
      <!--begin::Action-->
      <div class="mb-3">
        <ul style="list-style: none; padding-left: 0;">
          <li><span style="color: #888; font-size: 1.2em; margin-right: 0.5em;">&#8594;</span><a href='https://www.npmjs.com/package/@smarter.sh/ui-chat' target="_blank" class="text-dark">React NPM Package</a></li>
          <li><span style="color: #888; font-size: 1.2em; margin-right: 0.5em;">&#8594;</span><a href='https://pypi.org/project/smarter-api/' target="_blank" class="text-dark">Python PyPi Library</a></li>
        </ul>
      </div>
      <!--end::Action-->
      <!--begin::Illustrations-->
      <img src="{% static 'images/npm-logo.png' %}" class="position-absolute me-3 top-0 end-0 h-75px pt-3" alt="" />
      <img src="{% static 'images/pypi-logo-small.svg' %}" class="position-absolute me-5 bottom-0 end-0 h-75px pt-3 mb-3" alt="" />
      <!--end::Illustrations-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::SDKs-->
</div>

<div class="col-xl-4 mb-5 mb-xl-10 h-100">
    <!--begin::Row Developer/enthusiast banner -->
      <div class="mt-15 text-center">
        <h2 class="text-gray-600">Resources for Developers, Solution Architects, and Enterprise Users</h2>
      </div>
</div>
