{% load static %}

<!--begin::Engage widget 4-->
<div
  class="card border-transparent h-100"
  data-bs-theme="light"
  style="background-color: #1C325E;"
>
  <!--begin::Body-->
  <div class="row w-100">
    <div class="card-body d-flex flex-column ps-xl-15 h-100">
      <!--begin::Title-->
      <div class="position-relative fs-2x z-index-2 fw-bold text-white mb-7">
        <span class="position-relative d-inline-block text-danger">
          <a href="https://github.com/smarter-sh/smarter-deploy" class="btn btn-primary fw-semibold me-2 opacity-75-hover"
            >Quickstart</a
          >
          <span class="me-2"> Self-host Smarter</span>
        </span>
      </div>
      <!--end::Title-->
      <!--begin::Illustration-->
      <img
        src="{% static 'assets/media/illustrations/sigma-1/14-dark.png' %}"
        class="position-absolute me-3 bottom-0 end-0 w-100"
        alt=""
      />
      <img
        src="{% static 'images/docker-logo.png' %}"
        class="position-absolute top-50 end-0 me-20 w-100px"
        style="transform: translateY(-100%);"
        alt=""
      />
      <!--end::Illustration-->

      <div class="text-white mt-auto mb-0 pt-5 align-self-end rounded" style="width: 50%; background: rgba(34, 34, 34, 0.25); z-index: 10; position: relative;">
        <ul style="list-style: none; padding-left: 0;">
          <li><span style="color: #888; font-size: 1.2em; margin-right: 0.5em;">&#8594;</span><a href='https://github.com/smarter-sh/smarter-deploy' class="text-gray-200">Docker</a></li>
          <li><span style="color: #888; font-size: 1.2em; margin-right: 0.5em;">&#8594;</span><a href='https://artifacthub.io/packages/helm/project-smarter/smarter' class="text-gray-200">Kubernetes</a></li>
          <li><span style="color: #888; font-size: 1.2em; margin-right: 0.5em;">&#8594;</span><a href='https://github.com/smarter-sh/smarter-infrastructure' class="text-gray-200">Terraform</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--end::Body-->
</div>
<!--end::Engage widget 4-->
