{% extends "rest_framework/base.html" %}
{% load static %}

{% block title %}Smarter{% endblock %}

{% block head %}
  {{ block.super }}
  <link rel="icon" href="{% static 'images/logo/favicon256x256.png' %}" type="image/png">
{% endblock %}

{% block branding %}
  <a class='navbar-brand' rel="nofollow" href='/'>Smarter REST API</a>
{% endblock %}


{% block style %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/querium-styles.css" %}"/>
{% endblock %}
