# Default owner for everything

* @lpm0073

# Django backend

smarter/smarter/ @lpm0073

# React web console

smarter/react/ @lpm0073

# Documentation

docs/ @lpm0073

# Helm chart

helm/ @lpm0073

# CI-CD

.github/ @lpm0073
