[run]
omit =
    python/smarter/common/tests/*
    python/smarter/lambda_info/tests/*
    python/smarter/openai_langchain/tests/*
    python/smarter/openai_function_calling/tests/*
    python/smarter/openai_api/tests/*
