:root {
  --bs-app-sidebar-width: 0px;
  --bs-app-sidebar-width-actual: 0px;
  --bs-app-sidebar-gap-start: 0px;
  --bs-app-sidebar-gap-end: 0px;
  --bs-app-sidebar-gap-top: 0px;
  --bs-app-sidebar-gap-bottom: 0px;
  --bs-bullet-bg-color: #f1f1f1;
}

/*-----------------------------
 Header
 ----------------------------- */
 .querium-bg {
  background-color: rgba(255, 87, 51, 0.75) !important;
  /* 50% opacity */
  border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
  --bs-heading-color: #f1f1f1;
  --bs-card-color: #f1f1f1;
  --bs-scrollbar-color: #f1f1f1;
  --bs-link-color-rgb: 241, 241, 241;
}

.smarter-version {
  font-family: 'Courier New', Courier, monospace;
  color: #333333;
}

.parent-class>* {
  color: #f1f1f1;
}


/*-----------------------------
 page: /docs/api/
 ----------------------------- */
.code-sample-body {
  position: relative;
  background-color: #333333;
  border-radius: 10px;
}

.code-sample-body pre {
  display: inline-block;
  text-align: left;
}

.code-sample-copy {
  position: absolute;
  top: 10px;
  right: 10px;
}

.code-snippet {
  --bs-code-color: #f1f1f1;
  /* Text color */
  --bs-code-border-color: transparent;
  /* Border color */
  --bs-code-bg: #333333;
  /* Background color */
  --bs-code-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
  /* Box shadow */
  white-space: pre; /* This is usually the default for <pre>, but it's good to ensure it's not being overridden */
  overflow-x: auto; /* Adds a horizontal scrollbar if the content is too wide */
}

/*
 FIX NOTE: was attempting to use this across the entire
 docs site to format inline code snippets, but it was
 causing adding weird line breaks.
*/
code {}

/*-----------------------------
 page: /docs/cli/
 ----------------------------- */
.terminal-emulation {
  white-space: pre; /* Keeps the text in the same format as it was entered */
  font-family: 'Courier New', Courier, monospace; /* Monospace font */
  overflow-x: auto; /* Adds horizontal scrollbar if needed */
  background-color: #333333; /* Terminal-like background */
  color: #f1f1f1; /* Light text color for contrast */
  padding: 10px; /* Padding inside the terminal window */
  border: 1px solid #555; /* Optional: adds a border */
  box-shadow: var(--bs-code-shadow); /* Reuse the box-shadow variable for consistency */
}
