{% extends "dashboard/base.html" %}
{% load static %}
{% load react_budget_list %}

{% block style_extra %}
  {{ block.super }}

  <!--
  Vite assets for the budget list
  see: smarter.apps.account.templatetags.react_budget_list.
  reads the React manifest.json file to determine the correct hashed filenames to include.
  -->
  {% budget_list_react_assets as assets %}
  {% for css_file in assets.css %}
    <link class="smarter" rel="stylesheet" href="{% static 'react/@smarter/budget-list/' %}{{ css_file }}">
  {% endfor %}
{% endblock %}

{% block dashboard_content %}
  {{ block.super }}

  <div
    id="{{ budget_list.root_id }}"
    django-csrf-cookie-name="{{ budget_list.django_csrf_cookie_name }}"
    django-session-cookie-name="{{ budget_list.django_session_cookie_name }}"
    django-cookie-domain="{{ budget_list.cookie_domain }}"
    smarter-budget-list-api-url="{{ budget_list.budget_list_api_url }}"
    react-debug-mode="{{ budget_list.react_debug_mode }}"
    smarter-request-id="{{ budget_list.smarter_request_id }}"
    >
  </div>

{% endblock %}

{% block javascript_extra %}
  {{ block.super }}

  <!--
  Vite assets for the budget list
  see: smarter.apps.budget_list.templatetags.react_budget_list.
  reads the React manifest.json file to determine the correct .js entry filename to include.
  -->
  {% budget_list_react_assets as assets %}
  {% for js_file in assets.js %}
    <script class="smarter" type="module" src="{% static 'react/@smarter/budget-list/' %}{{ js_file }}"></script>
  {% endfor %}

{% endblock %}
