{% extends "dashboard/base.html" %}
{% load static %}
{% load react_infrastructure_resource_list %}

{% block style_extra %}
  {{ block.super }}

  <!--
  Vite assets for the infrastructure resource list
  see: smarter.apps.infrastructure.templatetags.react_infrastructure_resource_list.
  reads the React manifest.json file to determine the correct hashed filenames to include.
  -->
  {% infrastructure_resource_list_react_assets as assets %}
  {% for css_file in assets.css %}
    <link class="smarter" rel="stylesheet" href="{% static 'react/@smarter/infrastructure-resource-list/' %}{{ css_file }}">
  {% endfor %}
{% endblock %}

{% block dashboard_content %}
  {{ block.super }}

  <div
    id="{{ infrastructure_resource_list.root_id }}"
    django-csrf-cookie-name="{{ infrastructure_resource_list.django_csrf_cookie_name }}"
    django-session-cookie-name="{{ infrastructure_resource_list.django_session_cookie_name }}"
    django-cookie-domain="{{ infrastructure_resource_list.cookie_domain }}"
    smarter-infrastructure-resource-list-api-url="{{ infrastructure_resource_list.infrastructure_resource_list_api_url }}"
    react-debug-mode="{{ infrastructure_resource_list.react_debug_mode }}"
    smarter-request-id="{{ infrastructure_resource_list.smarter_request_id }}"
    >
  </div>

{% endblock %}

{% block javascript_extra %}
  {{ block.super }}

  <!--
  Vite assets for the infrastructure resource list
  see: smarter.apps.infrastructure.templatetags.react_infrastructure_resource_list.
  reads the React manifest.json file to determine the correct .js entry filename to include.
  -->
  {% infrastructure_resource_list_react_assets as assets %}
  {% for js_file in assets.js %}
    <script class="smarter" type="module" src="{% static 'react/@smarter/infrastructure-resource-list/' %}{{ js_file }}"></script>
  {% endfor %}

{% endblock %}
