{% extends "dashboard/base.html" %}
{% load static %}

{% block style_extra %}
  {{ block.super }}

  <!-- Vite assets for the terminal emulator -->
  {% prompt_passthrough_vite_assets "index.html" as assets %}
  {% for css_file in assets.css %}
    <link class="smarter" rel="stylesheet" href="{% static 'react/prompt_passthrough/' %}{{ css_file }}">
  {% endfor %}
{% endblock %}

{% block dashboard_content %}
  {{ block.super }}

  <div
    id="{{ passthrough.root_id }}"
    smarter-csrf-cookie-name="{{ passthrough.csrf_cookie_name }}"
    django-csrftoken="{{ csrf_token }}"
    smarter-django-session-cookie-name="{{ passthrough.django_session_cookie_name }}"
    smarter-cookie-domain="{{ passthrough.cookie_domain }}"
    smarter-api-path="{{ passthrough.api_url }}"
    smarter-llm-provider-id="{{ passthrough.llm_provider_id }}"
    smarter-template-id="{{ passthrough.template_id }}">
  </div>

{% endblock %}

{% block javascript_extra %}
  {{ block.super }}

  <!-- Vite assets for the terminal emulator -->
  {% prompt_passthrough_vite_assets "index.html" as assets %}
  <script class="smarter" type="module" src="{% static 'react/prompt_passthrough/' %}{{ assets.js }}"></script>
{% endblock %}
