{% extends "dashboard/base.html" %}
{% load static %}
{% load vite_terminal_emulator %}


{% block style_extra %}
  {{ block.super }}

  <!--
  Vite assets for the terminal emulator
  see: smarter.apps.dashboard.templatetags.vite_terminal_emulator.
  reads the vite manifest.json file to determine the correct hashed filenames to include.
  -->
  {% terminal_emulator_vite_assets "index.html" as assets %}
  {% for css_file in assets.css %}
    <link class="smarter" rel="stylesheet" href="{% static 'react/terminal_emulator/' %}{{ css_file }}">
  {% endfor %}
{% endblock %}

{% block dashboard_content %}
  {{ block.super }}

  <div
    id="{{ terminal.root_id }}"
    smarter-csrf-cookie-name="{{ terminal.csrf_cookie_name }}"
    django-csrftoken="{{ csrf_token }}"
    smarter-django-session-cookie-name="{{ terminal.django_session_cookie_name }}"
    smarter-cookie-domain="{{ terminal.cookie_domain }}"
    smarter-api-path="{{ terminal.api_url }}"
  </div>

{% endblock %}

{% block javascript_extra %}
  {{ block.super }}

  <!--
  Vite assets for the terminal emulator
  see: smarter.apps.dashboard.templatetags.vite_terminal_emulator.
  reads the vite manifest.json file to determine the correct .js entry filename to include.
  -->
  {% terminal_emulator_vite_assets "index.html" as assets %}
  <script class="smarter" type="module" src="{% static 'react/terminal_emulator/' %}{{ assets.js }}"></script>
{% endblock %}
