{% load static %}
<!--begin:Menu item Learn-->
<div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start"
  class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
  <!--begin:Menu link Learn-->
  <a href="{% url 'docs_learn' %}" class="menu-link">
    <span class="menu-link">
      <span class="menu-title">Learn</span>
      <span class="menu-arrow d-lg-none"></span>
    </span>
  </a>
  <!--end:Menu link Learn-->
</div>
<!--end:Menu item Learn-->
