apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    meta.helm.sh/release-name: "{{ .Values.names.appName }}-beat"
    meta.helm.sh/release-namespace: {{ .Values.namespace }}
    meta.helm.sh/application-version: {{ .Values.version }}
  labels:
    App: "{{ .Values.names.appName }}-beat"
  name: "{{ .Values.names.appName }}-beat"
  namespace: {{ .Values.namespace }}
spec:
  progressDeadlineSeconds: 600
  replicas: {{ .Values.beat.replicaCount }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app.kubernetes.io/name: "{{ .Values.names.appName }}-beat"
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: "{{ .Values.names.appName }}-beat"
        deploymentTimestamp: "{{ now | unixEpoch }}"
    spec:
      affinity:
        {{- toYaml .Values.global.affinity | nindent 8 }}
      tolerations:
        {{- toYaml .Values.global.tolerations | nindent 8 }}
      containers:
        - name: "{{ .Values.names.appName }}-beat"
          image: "{{ .Values.env.SMARTER_DOCKER_IMAGE | default (printf \"%s:%s\" .Values.global.image.repository .Values.global.image.tag) }}"
          command: ["celery", "-A", "smarter.workers.celery.app", "beat", "--loglevel=info"]
          imagePullPolicy: {{ .Values.global.image.pullPolicy | default "IfNotPresent" }}
          resources:
            {{- toYaml .Values.beat.resources | nindent 12 }}
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - "pgrep -f 'celery.*beat' > /dev/null"
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
          startupProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - "pgrep -f 'celery.*beat' > /dev/null"
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 30
            successThreshold: 1
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{- range $env := .Values.beat.env }}
            - name: {{ $env.name }}
              value: {{ $env.value | quote }}
            {{- end }}
          volumeMounts:
            {{- toYaml .Values.beat.extraVolumeMounts | nindent 12 }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      volumes:
        {{- toYaml .Values.beat.extraVolumes | nindent 8 }}
      dnsPolicy: ClusterFirst
      enableServiceLinks: true
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      shareProcessNamespace: false
