apiVersion: v1
kind: Secret
metadata:
  name: dockerhub-secret
  namespace: {{ .Values.namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ printf "{\"auths\":{\"https://index.docker.io/v1/\":{\"username\":\"%s\",\"password\":\"%s\",\"auth\":\"%s\"}}}" .Values.env.DOCKERHUB_USERNAME .Values.env.DOCKERHUB_PAT (printf "%s:%s" .Values.env.DOCKERHUB_USERNAME .Values.env.DOCKERHUB_PAT | b64enc) | b64enc }}
