{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
<link rel="shortcut icon" href="{% static 'querium/querium-favicon-192x192.png' %}" />
{{ block.super }}
<style>
    /* Add your custom CSS here */
    #site-name a:link, #site-name a:visited {
      color: #f1f1f1;
    }
    #header,
    .module h2,
    .module caption,
    .inline-group h2 {
        background-color: rgba(255, 87, 51, 0.75);
    }

    .intro-hero-box {
      background-color: rgba(255, 87, 51, 0.25);
      width: 100%;
      height: 200px;
    }

    a:link, a:visited {
        color: #555555;
    }

    #nav-sidebar .current-model {
        background-color: #aaaaaa;
    }

    .button, .submit-row input, a.button {
      background-color: rgba(255, 87, 51, 100);
    }

    div.breadcrumbs {
      background: #262626;
    }
</style>
{% endblock %}
{% block content_title %}{% if title %}<h1>{{ django_admin_title }}</h1>{% endif %}{% endblock %}
