<div class="card-body" id="administration">
  <!--begin::Heading-->
  <div class="mb-10">
    <!--begin::Title-->
    <h1 class="fs-2x text-gray-900 mb-6">Platform Administration</h1>
    <h3>We fret over the details and the mundane so that you can focus on delighting your customers</h3>
    <!--end::Title-->
    <div class="d-flex">
    </div>
    <div class="d-flex mt-6 mb-6">
      <div class="col-6 p-4 m-2 flex-fill" style="background-color: aquamarine;">
        <p>
          Smarter offers the kinds of configuration options that
          enterprise customers have come to reasonably expect.
          And if that's overkill in your case then that's perfectly fine as well,
          because we also offer a simple, easy-to-use SaaS platform that'll get you up and running in no time.
          And regardless, lets both hope that someday you'll grow into needing everything that Smarter offers
          its largest enterprise customers.
        </p>
      </div>
      <div class="col-6 p-4 m-2 flex-fill" style="background-color: aquamarine;">
        <span>-- ADD A VISUAL OF IT INFRASTRUCTURE --</span>
      </div>
    </div>
  </div>
  <!--end::Heading-->
  <!--begin::Row-->
  <div class="row g-10 mb-15">

    <!--begin::PlatformOptions-->
    <div id="admin-platform-options">
      <h3 class="mt-6 mb-6">SaaS or On-Premise Platform Options</h3>
      <p>
        We get it. There are lots of reasons why you cannot or do not want to use a generative AI SaaS platform.
        We offer a variety of deployment options beyond our flagship SaaS platform, including on-premise, private cloud, and hybrid cloud.
        We also offer a variety of support schemes for these, ranging from fully managed to self-managed.
        And in all cases the team at Smarter has you covered with timely access to codebase updates, security patches, and new features.
        You always have unfettered access to our near-daily Dockerhub updates, and we're always available to help you with your deployments and upgrades.
      </p>
    </div>
    <!--end::PlatformOptions-->

    <!--begin::AuditTrails-->
    <div id="admin-audit-trails">
      <h3 class="mt-6 mb-6">Complete Audit Trails</h3>
      <p>
        Smarter Journal sits at the heart of the Smarter platform. It provides a
        comprehensive audit trail of <strong>ALL</strong> user interactions with the platform, and
        we've gone to great lengths to make it work at scale. The Smarter Journal
        stores <strong>EVERY</strong> request, and its response in a configurable cold storage
        solution, that works with your choice of SQL databases, NoSQL databases, flat file,
        and cloud storage solutions like AWS S3. It can even be integrated to AWS CloudWatch.
        The data retention policy is up to you, and we've made it easy to configure.
        And, we've also made it easy to export the data in a variety of
        formats, including CSV, JSON, and XML.
      </p>
    </div>
    <!--end::AuditTrails-->

    <!--begin::CompleteControl-->
    <div id="admin-control">
      <h3 class="mt-6 mb-6">You're In Control</h3>
      <p>
        You remain in real-time control of your deployed AI resources at all times.
        Your account admins (ie your own employees) can manage the complete lifecycle of all
        of your AI resources, all of the time, regardless of who authored these.
        If you ever find yourself in the unfortunate situation of being vexed by what
        one your organization's AI resources is doing, you or any of your admins can take
        immediate corrective action to undeploy it, or tune it in real time.
      </p>
    </div>
    <!--end::CompleteControl-->

    <!--begin::UserManagement-->
    <div id="admin-user-management">
      <h3 class="mt-6 mb-6">User Management</h3>
      <p>
        Your organization can create and manage an unlimited number of users, and we provide batch management
        tools to make it easy to manage them. We also provide multiple user roles, including and admin role.
        You are in complete control over the user activation status, usage policy, and password policy.
      </p>
      <p>
        Lets suppose for example, that you are a large education organization and you need to create user accounts
        for several thousand students, every semester, we've got you covered. We even provide a variety of
        data download and reporting tools that are designed to assist you in managing your users' account lifecycle.
      </p>
    </div>
    <!--end::UserManagement-->

    <!--begin::ApiKeyManagement-->
    <div id="admin-api-key-management">
      <h3 class="mt-6 mb-6">Api Key Management</h3>
      <p>
        Your organization's admin users can generate and manage an unlimited number of API keys using the Smarter CLI.
        They maintain complete editorial control over how these keys are used, and can revoke them at any time. We also
        provide a variety of tools to help you manage your API keys, including a key rotation tool, and a key usage
        reporting tool.
      </p>
      <p>
        Your organization's users can optionally attach Api keys to their Smarter AI resources in order to restrict access to them.
      </p>
    </div>
    <!--end::ApiKeyManagement-->

    <!--begin::BudgetCostControls-->
    <div id="admin-api-cost-controls">
      <h3 class="mt-6 mb-6">Budget & Cost Controls</h3>
      <p>
        Smarter provides a variety of tools to help you manage your budget and costs. These include a budgeting tool,
        a cost reporting tool, and a real-time cost forecasting tool for the current billing period.
        You can establish a budget for your organization, and we'll
        provide you with real-time updates and alerts on how you're tracking against it. We also provide a variety of cost
        controls, including a cost cap, and a cost alerting tool.
      </p>
      <p>
        independent of your budgeting policies, the Smarter platform monitors outlying usage patterns and will alert you
        if it detects any unusual usage patterns from your users.
      </p>
    </div>
    <!--end::BudgetCostControls-->

    <!--begin::ContentModeration-->
    <div id="admin-content-moderation">
      <h3 class="mt-6 mb-6">Content Moderation</h3>
      <p>
        Smarter provides a variety of tools to help you moderate inbound prompt requests on your AI resources.
        Similar to our unified LLM access program for text prompting, we also provide a variety of moderation tools
        from respected third-party providers including for example Azure Cognitive Services, Google Cloud Vision, and
        Amazon Rekognition.
      </p>
      <p>
        We're especially excited to be able to offer you bespoke moderation tools that are have developed
        exclusively for the Smarter platform by our development partners. These tools are designed to be
        performant, and to work at scale. They are also configurable, and several of these are designed to
        adapt to your organization's unique content moderation policies.
      </p>
    </div>
    <!--end::ContentModeration-->

    <!--begin::UnifiedAccess-->
    <div id="admin-unified-access">
      <h3 class="mt-6 mb-6">Unified Service-Level Access</h3>
      <p></p>
    </div>
    <!--end::UnifiedAccess-->

  </div>
  <!--end::Row-->
</div>
