<div class="card-body">
  <!--begin::Heading-->
  <div class="mb-10">
    <!--begin::Title-->
    <h1 class="fs-2x text-gray-900 mb-6">Developer Area</h1>
    <p>
      Welcome to the developer area. Smarter is an extensible platform that developers can leverage to build custom
      solutions across a broad range of device types and platform ecosystems. Members of the <a href="#">Smarter Developer Program</a>
      (and all on-premise installations) enjoy privileged access to multiple environments, including alpha & beta (development),
      next (staging/pre-production), and production.
    </p>
    <p>
      The Smarter platform is built on a microservices architecture and is designed to be secure, resilient and highly scalable.
      The platform is built on a modern technology stack that includes Python-Django, React, MySQL, Redis, Docker and Kubernetes managed by Helm.
      Smarter leverages tight integration to AWS cloud resources, including VPC, IAM, S3, RDS, EKS, ECR, Route53, CloudFront, and more;
      all managed by Terraform. And, Smarter will also be available for Azure and Google Compute Cloud in the near future.
    </p>
    <p>
      3rd party developers and OEMs can build a variety of custom solutions on top of the Smarter platform using a popular programming
      languages including Python, JavaScript, Swift, C#, Java and Golang. Moreover, a broad range of platform ecosystems are available to OEM developers.
      You can create extensions for Chrome, Firefox, Safari, Mozilla, VS Code, and more.
    </p>
    <!--end::Title-->
  </div>
  <!--end::Heading-->
  <!--begin::Row-->
  <div class="row g-10 mb-15">
    <!--begin::heading-0-->
    <div id="heading-0">
      <h3 class="mt-6 mb-6">Join the Developer Program</h3>
      <p>Gonna make big money, yeah! - <a href="#">Smarter Developer Program</a></p>
      <ul>
        <li>Get promoted on Smarter</li>
        <li>Get preferential platform access</li>
        <li>Promote your products around the Smarter ecosystem</li>
        <li>Become a certified Smarter developer</li>
      </ul>
    </div>
    <!--end::heading-1-->
    <!--begin::heading-1-->
    <div id="heading-1">
      <h3 class="mt-6 mb-6">Build On Top of the CLI</h3>
      <p>Design, train, test and deploy your specialized chatbot in </p>
    </div>
    <!--end::heading-1-->
    <!--begin::heading-2-->
    <div id="heading-2">
      <h3 class="mt-6 mb-6">Build On Top of the API</h3>
      <p>Smarter is so smart.</p>
    </div>
    <!--end::heading-2-->
    <!--begin::heading-3-->
    <div id="heading-3">
      <h3 class="mt-6 mb-6">Build On Top of the Json Schemas</h3>
      <!--begin::Text-->
      <p>Shoo be do be do.</p>
      <!--end::Text-->
    </div>
    <!--end::heading-3-->

    <!--begin::heading-4-->
    <div id="heading-4">
      <h3 class="mt-6 mb-6">Developer Resources</h3>
      <ul>
        <li><a href="/docs/developer/requirements/">Smarter Python Requirements</a> for app server, workers, celery-beat</li>
        <li><a href="/docs/developer/dockerfile/">Smarter Dockerfile</a> for app server, workers, celery-beat</li>
        <li><a href="/docs/developer/docker-compose/">Smarter docker-compose.yml</a> for local development</li>
        <li><a href="/docs/developer/architecture/">Application Architecture Diagram</a></li>
        <li><a href="/docs/developer/chatbot-api/">Chatbot API</a></li>
        <li><a href="/docs/developer/cli/">CLI Technical Documentation</a></li>
        <li><a href="/docs/developer/django-react/">Django-ReactJS Integration</a></li>
        <li><a href="/docs/developer/openai-getting-started/">OpenAI API Getting Started Guide</a></li>
        <li><a href="/docs/developer/good-coding-practice/">Smarter Good Coding Practice</a></li>
        <li><a href="/docs/developer/semantic-versioning/">Smarter Semantic Versioning Guide</a></li>
        <li><a href="/docs/developer/12-factor/">Smarter 12-Factor Development Practices</a></li>
      </ul>
    </div>
    <!--end::heading-4-->

  </div>
  <!--end::Row-->
</div>
