<div class="card-body">
  <!--begin::Heading-->
  <div class="mb-10">
    <!--begin::Title-->
    <h1 class="fs-2x text-gray-900 mb-6">Developer Area</h1>
    <!--end::Title-->
    <p>
      Welcome to the developer area. We're here to help you get started building tomorrow's AI solutions today. The
      Smarter platform serves a global community of prompt engineers from around the world.
      The prompt engineers on the Smarter platform are a highly engaged, intellectually curious community
      of data scientists and machine learning engineers who have an active
      interest in learning more about your products and services, and putting them to work in their AI solutions.
      These are the people who are responsible for building and maintaining today's vanguard of generative AI solutions
      for private sector companies, governments and educational institutions.
    </p>
    <h2>What Are You Waiting For?</h2>
    <p>
      3rd party developers and OEMs can build a variety of custom solutions on top of the Smarter platform using popular
      programming languages including Python, JavaScript, PHP, Swift, C#, Java, Golang and more.
      Moreover, a broad range of platform ecosystems are available to OEM developers.
      Common application scenarios include:
    </p>
    <div class="d-flex mt-6 mb-6">
      <div class="col-6 p-4 m-2 flex-fill" style="background-color: aquamarine;">
        <ul>
          <li>Plugins for content management systems like Wordpress, Drupal and Joomla</li>
          <li>Extensions for code editors like VS Code, Atom and Sublime</li>
          <li>high-level REST Api's and Saas solutions</li>
          <li>Extensions for web browsers like Chrome, Firefox, Safari and Mozilla</li>
          <li>Integrations for CRM systems like salesforce.com</li>
          <li>Custom chatbot UI's for websites and in-house enterprise applications</li>
          <li>Mobile applications for iOS and Android</li>
          <li>Custom chatbot integrations for mobile apps, IoT devices and smart speakers</li>
        </ul>
      </div>
      <div class="col-6 p-4 m-2 flex-fill" style="background-color: aquamarine;">
        <span>-- ADD A VISUAL THAT INCLUDES LOTS OF PLATFORM LOGOS --</span>
      </div>
    </div>
    <p>
      Smarter is an extensible platform that developers can leverage to build custom
      solutions across a broad range of device types and platform ecosystems.
      Members of the <a href="https://smarter.sh/developer-program/">Smarter Developer Program</a>
      (and all on-premise installations) enjoy privileged access to multiple environments, including alpha & beta
      (development),
      next (staging/pre-production), and production.
    </p>
    <p>
      The Smarter platform is built on a microservices architecture and is designed to be secure, resilient and highly
      scalable.
      The platform is built on a modern technology stack that includes Python-Django, React, MySQL, Redis, Docker and
      Kubernetes managed by Helm.
      Smarter leverages tight integration to AWS cloud resources, including VPC, IAM, S3, RDS, EKS, ECR, Route53,
      CloudFront, and more;
      all managed by Terraform. And, Smarter will also be available for Azure and Google Compute Cloud in the near
      future.
    </p>
  </div>
  <!--end::Heading-->
  <!--begin::Row-->
  <div class="row g-10 mb-15">
    <!--begin::heading-0-->
    <div id="heading-0">
      <h3 class="mt-6 mb-6">Join the Smarter Developer Program</h3>
      <p>
        The Smarter Developer Program is our pet project. We've gone to great pains to ensure that this is a community
        of like-minded developers who strive for excellence. They're the kinds of people that we're glad that we know.
        They're our peers, and our mentors. They're the kinds of people that we'd like to have a coffee with, and learn
        more about
        what they're working on.
      </p>
      <h4>Get involved!</h4>
      <p>And gain privileged access to the resources that you need in order to make your next product a success.</p>
      <ul>
        <li>Get promoted on Smarter</li>
        <li>Get earl access to new platform features</li>
        <li>Promote your products across the Smarter ecosystem</li>
        <li>Become a certified Smarter developer</li>
      </ul>
    </div>
    <!--end::heading-1-->
    <!--begin::heading-1-->
    <div id="heading-1">
      <h3 class="mt-6 mb-6">Build On Top of the Smarter CLI</h3>
      <p>
        Smarter CLI is a powerful tool that runs reliably on popular desktop operating systems including Windows, MacOS
        and Linux.
        Build your own custom solutions on top of the Smarter CLI. Detailed technical documentation is available in
        the <a href="/docs/swagger/">API Technical Documentation</a> area. The Smarter CLI is built on top of the
        Smarter API
        and provides a rich set of features for managing the complete lifecycle of Smarter AI cloud resources.
      </p>
    </div>
    <!--end::heading-1-->
    <!--begin::heading-2-->
    <div id="heading-2">
      <h3 class="mt-6 mb-6">Build On Top of the Smarter API</h3>
      <p>
        The Smarter API provides developers with resilient and scalable access to the Smarter platform. It
        is a device and platform independent strategy for building custom solutions on top of the Smarter platform.
        Built on the Django REST framework, the Smarter API is designed to be secure, resilient and highly scalable. It
        provides a rich and future-proofed set of endpoints for managing the complete lifecycle of Smarter AI cloud
        resources
        as well as account management, billing, user management and more. It is designed to be secure,
        resilient and highly scalable. Detailed technical documentation is available in
        the <a href="/docs/swagger/">API Technical Documentation</a> area.
      </p>
    </div>
    <!--end::heading-2-->
    <!--begin::heading-3-->
    <div id="heading-3">
      <h3 class="mt-6 mb-6">Build On Top of the Json Schemas</h3>
      <!--begin::Text-->
      <p>
        Smarter's published <a href="docs/json-schemas/">Json Schemas</a> are built on top of Pydantic and are tightly
        bound to the full suite of
        Smarter API data models, the foundation for all Smarter AI resources. The schemas are performant, highly
        available
        and are designed for high throughput and low latency. They make an excellent foundation for building
        code extension tools for real-time syntax checking, code completion, and more. Detailed technical documentation
        is available in
        the <a href="docs/json-schemas/">Json Schemas</a> area.
      </p>
      <!--end::Text-->
    </div>
    <!--end::heading-3-->

    <!--begin::heading-4-->
    <div id="heading-4">
      <h3 class="mt-6 mb-6">Developer Resources</h3>
      <p>
        Straight from our codebase to yours. Here are some resources to help you get started building on top of the
        Smarter platform.
      </p>
      <div class="container">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><a href="/docs/developer/README.md/">README.md</a></td>
              <td>
                GitHub repository README.md for this branch.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/CHANGELOG.md/">CHANGELOG.md</a></td>
              <td>
                The GitHub repository CHANGELOG.md for this branch.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/CODE_OF_CONDUCT.md/">CODE_OF_CONDUCT.md</a></td>
              <td>
                Smarter's Code of Conduct for all team members, affiliates and contributors.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/weather-function/">weather-function.py</a></td>
              <td>
                This is Smarter's implementation of the get_current_weather() function referenced in
                the <a href="https://platform.openai.com/docs/guides/function-calling">OpenAI API
                  Function Calling documentation</a>.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/makefile/">Makefile</a></td>
              <td>
                This is the Makefile that Smarter developers use for local development. You
                can use this is a reference for the version of Python that we're using in
                local development, as well as to see how we initialize our local development
                environment.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/requirements/">Python Requirements</a></td>
              <td>
                This is the complete set of open source PyPi packages that the Smarter platform uses.
                This file is being read real-time from the running Docker container, meaning
                the version pins presented are what is currently running. Note that Version pins are
                updated monthly on the 1st of each month.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/dockerfile/">Smarter Dockerfile</a></td>
              <td>
                This is the build procedure for the Smarter app server Docker container. This
                file is being read real-time from the running Docker container, meaning the
                build procedure that you see here is what is currently running on the platform.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/docker-compose/">Smarter docker-compose.yml</a></td>
              <td>
                This is the docker-compose.yaml file that Smarter developers use for local development.
                It very closely approximates the production environment. If for any reason you need to
                replicate the Smarter production environment locally, this is the file your should use.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/architecture/">Application Architecture Diagram</a></td>
              <td>
                This is a high level diagram of the Smarter application architecture. It is a
                high-level overview of the Smarter platform, and is intended to be used as an
                onboarding tool for developers who are new to the Smarter platform.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/chatbot-api/">Chatbot API</a></td>
              <td>
                This is a technical reference for the Smarter Chatbot API that
                backs the Smarter Chat web app.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/cli/">CLI Technical Documentation</a></td>
              <td>
                This is a technical reference document for the Smarter CLI.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/django-react/">Django-ReactJS Integration</a></td>
              <td>
                This is a technical reference document for the Smarter Django-ReactJS integration
                strategy.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/openai-getting-started/">OpenAI API Getting Started Guide</a></td>
              <td>
                This is an internal training document that we use for anyone who is new to the OpenAI API.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/good-coding-practice/">Smarter Good Coding Practice</a></td>
              <td>
                This is an internal training document that we use for onboarding new developers. It
                covers the basics of what we consider to be good coding practices, and is intended
                to be used as a reference.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/semantic-versioning/">Smarter Semantic Versioning Guide</a></td>
              <td>
                This is an internal training document that we use for onboarding new developers. It
                covers how we use git comment prefixes for automated semantic versioning. It is intended
                to be used as a reference.
              </td>
            </tr>
            <tr>
              <td><a href="/docs/developer/12-factor/">Smarter 12-Factor Development Practices</a></td>
              <td>
                This document outlines and formalizes how we approach the 12-factor development methodology in
                the Smarter platform. It is intended to be used as a reference.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--end::heading-4-->

    <!--begin::heading-5-->
    <div id="heading-5">
      <h3 class="mt-6 mb-6">Smarter Platform Developer Onboarding</h3>
      <!--begin::Text-->
      <p>
        These resources are designed to help internal Querium developers and
        Smarter Developer Program members get up to speed
        quickly on our workflows surrounding the Smarter platform.
        If you intend create pull requests in any repository in https://github.com/smarter-sh,
        then this is good starting point.
      </p>
      <!--end::Text-->
    </div>
    <!--end::heading-4-->
    <div class="row justify-content-center">
      <div class="col-9 m-3">
        <h6>Developer Onboarding Video 1 - 2</h6>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-hZEO9sMm1s?si=PFcEpu2oRVNRL6x3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="col-9 m-3">
        <h6>Developer Onboarding Video 2 - 2</h6>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XolFLX1u9Kg?si=DKWeL5Ka-jGf-G9f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!--end::Row-->
</div>
