<div class="card-body" id="privacy">
  <!--begin::Heading-->
  <div class="mb-10">
    <!--begin::Title-->
    <div id="title">
      <h1 class="fs-2x text-gray-900 mb-6">Privacy</h1>
      <p class="mt-6 mb-6">yadda yadda yada.</p>
    </div>
    <!--end::Title-->
  </div>
  <!--end::Heading-->
  <!--begin::Row-->
  <div class="row g-10mb-15">
    <!--begin::InstallCLI-->
    <div id="install-cli">
      <h3 class="mt-6 mb-6">Install the CLI</h3>
      <p>install, install, install ...</p>
    </div>
    <!--end::InstallCLI-->
  </div>
  <!--end::Row-->
</div>
