<div class="card-body" id="privacy">
  <!--begin::Heading-->
  <div class="mb-10">
    <!--begin::Title-->
    <div id="title">
      <h1 class="fs-2x text-gray-900 mb-6">Privacy</h1>
      <h3>Smarter is committed to protecting your privacy</h3>
      <!--end::Title-->
      <!--begin::Leader-->
      <div class="d-flex mt-6 mb-6">
        <div class="col-6 p-4 m-2 flex-fill" style="background-color: aquamarine;">
          <p>
            First and foremost, Smarter is an operating platform for AI resources, not a data broker.
          </p>
          <p>
            <strong>We don't want you to ever be surprised by what happened with your data.</strong> Smarter is
            committed to transparency about how we and our commercial partners collect, use, and disseminate your data.
            Moreover, anything that might happen to your data beyond its
            stated purpose will happen only at your explicit direction and prior written approval.
          </p>
        </div>
        <div class="col-6 p-4 m-2 flex-fill" style="background-color: aquamarine;">
          <ul>
            <li>We don't sell your data to third parties.</li>
            <li>We don't use your data to target ads.</li>
            <li>We don't use your data to train our models.</li>
            <li>We don't use your data to improve our products & services.</li>
          </ul>
        </div>
      </div>
      <!--end::Leader-->
    </div>
  </div>
  <!--end::Heading-->
  <!--begin::Row-->
  <div class="row g-10mb-15">
    <!--begin::Agreement-->
    <div id="privacy-agreement">
      <h3 class="mt-6 mb-6">We'll Put It In Writing</h3>
      <p>
        We understand that privacy is a big deal. That's why we're committed to putting our privacy policy in writing.
        Querium Corp., the makers of Smarter, can and will enter into binding legal agreements with your
        organization to ensure that your data is protected and used only as you direct.
      </p>
    </div>
    <!--end::Agreement-->

    <!--begin::Location-->
    <div id="privacy-location">
      <h3 class="mt-6 mb-6">We'll Put Our Gear Wherever You Need</h3>
      <p>
        We're familiar with the challenges of data sovereignty and data residency. Cloud infrastructure availability
        permitting, we can deploy Smarter in the location of your choice. We can also work with you to ensure that your
        data is stored and processed in compliance with your organization's and/or your nation's data governance policies.
      </p>
    </div>
    <!--end::Location-->

        <!--begin::Reporting-->
    <div id="privacy-reporting">
      <h3 class="mt-6 mb-6">We'll Support Your Federally Mandated Reporting Requirements</h3>
      <p>
        We understand that you may have federally mandated reporting requirements. We can work with you to ensure that
        your data is stored and processed in compliance with your organization's and/or your nation's data governance
        policies. We can also work with you to ensure that your data is stored and processed in compliance with your
        organization's and/or your nation's data governance policies. And we are committed to providing you with the
        certificates and reports you need to demonstrate compliance with your data governance policies.
      </p>
    </div>
    <!--end::Reporting-->

  </div>
  <!--end::Row-->
</div>
