{% extends 'dashboard/base.html' %}
{% load static %}

{% block dashboard_content %}
  <style>
  .smarter-health-checks {
    color: green;
    background-color: lightgray;
    border-radius: 5px;
  }
  </style>
  <div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-xxl">
    <!--begin::Row-->
    <div class="row g-5 g-xl-10">
      <!--begin::Col-->
      <div class="col-xl-4 mb-xl-10">
        <!--begin::Lists Widget 19-->
        <div class="card card-flush h-xl-100">
          <!--begin::Heading-->
          <div class="card-header rounded bgi-no-repeat bgi-size-cover bgi-position-y-top bgi-position-x-center align-items-start h-250px" style="background-image:url('{% static "assets/media/svg/shapes/top-green.png" %}');" data-bs-theme="light">
            <!--begin::Title-->
            <h3 class="card-title align-items-start flex-column text-white pt-15">
              <span class="fw-bold fs-2x mb-3">My Resources</span>
              <div class="fs-4 text-white">
                {% if dashboard.my_resources_pending_deployments > 0 %}
                <span class="opacity-75">You have</span>
                <span class="position-relative d-inline-block">
                  <a href="/chatbots/" class="link-white opacity-75-hover fw-bold d-block mb-1">{{ dashboard.my_resources_pending_deployments }} pending</a>
                  <!--begin::Separator-->
                  <span class="position-absolute opacity-50 bottom-0 start-0 border-2 border-body border-bottom w-100"></span>
                  <!--end::Separator-->
                </span>
                  {% if dashboard.my_resources_pending_deployments > 1 %}
                  <span class="opacity-75">deployments</span>
                  {% else %}
                  <span class="opacity-75">deployment</span>
                  {% endif %}
                {% endif %}
              </div>
            </h3>
            <!--end::Title-->
          </div>
          <!--end::Heading-->
          <!--begin::Body-->
          <div class="card-body mt-n20">
            <!--begin::Stats-->
            <div class="mt-n20 position-relative">
              <!--begin::Row-->
              <div class="row g-3 g-lg-6">
                <!--begin::Col-->
                <div class="col-6">
                  <!--begin::Items-->
                  <a href="/chatbots/">
                    <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                      <!--begin::Symbol-->
                      <div class="symbol symbol-30px me-5 mb-8">
                        <span class="symbol-label">
                          <i class="ki-duotone ki-technology-2 fs-1 text-primary">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </span>
                      </div>
                      <!--end::Symbol-->
                      <!--begin::Stats-->
                      <div class="m-0">
                        <!--begin::Number-->
                        <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_chatbots }}</span>
                        <!--end::Number-->
                        <!--begin::Desc-->
                        <span class="text-gray-500 fw-semibold fs-6">Chatbots</span>
                        <!--end::Desc-->
                      </div>
                      <!--end::Stats-->
                    </div>
                    </a>
                  <!--end::Items-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-6">
                  <a href="/plugins/">
                  <!--begin::Items-->
                  <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                      <span class="symbol-label">
                        <i class="ki-duotone ki-cube-2 fs-1 text-primary">
                          <span class="path1"></span>
                          <span class="path2"></span>
                        </i>
                      </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Stats-->
                    <div class="m-0">
                      <!--begin::Number-->
                      <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_plugins }}</span>
                      <!--end::Number-->
                      <!--begin::Desc-->
                      <span class="text-gray-500 fw-semibold fs-6">Plugins</span>
                      <!--end::Desc-->
                    </div>
                    <!--end::Stats-->
                  </div>
                  <!--end::Items-->
                  </a>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-6">
                  <!--begin::Items-->
                  <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                      <span class="symbol-label">
                        <i class="ki-duotone ki-key fs-1 text-primary">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                        </i>
                      </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Stats-->
                    <div class="m-0">
                      <!--begin::Number-->
                      <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_api_keys }}</span>
                      <!--end::Number-->
                      <!--begin::Desc-->
                      <span class="text-gray-500 fw-semibold fs-6">Api Keys</span>
                      <!--end::Desc-->
                    </div>
                    <!--end::Stats-->
                  </div>
                  <!--end::Items-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-6">
                  <!--begin::Items-->
                  <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                      <span class="symbol-label">
                        <i class="ki-duotone ki-bank fs-1 text-primary">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                        </i>
                      </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Stats-->
                    <div class="m-0">
                      <!--begin::Number-->
                      <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_custom_domains }}</span>
                      <!--end::Number-->
                      <!--begin::Desc-->
                      <span class="text-gray-500 fw-semibold fs-6">Custom Domains</span>
                      <!--end::Desc-->
                    </div>
                    <!--end::Stats-->
                  </div>
                  <!--end::Items-->
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Stats-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Lists Widget 19-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-xl-8 mb-5 mb-xl-10">
        <!--begin::Row-->
        <div class="row g-5 g-xl-10">
          <!--begin::Col-->
          <div class="col-xl-6 mb-xl-10">
            <!--begin::Slider Widget 1-->
            <div id="kt_sliders_widget_1_slider" class="card card-flush carousel carousel-custom carousel-stretch slide h-xl-100" data-bs-ride="carousel" data-bs-interval="5000">
              <!--begin::Header-->
              <div class="card-header pt-5">
                <!--begin::Title-->
                <h4 class="card-title d-flex align-items-start flex-column">
                  <span class="card-label fw-bold text-gray-800">Smarter {{ dashboard.smarter_version }}</span>
                  <span class="text-gray-500 mt-1 fw-bold fs-7">Backend Service Health</span>
                </h4>
                <!--end::Title-->
              </div>
              <!--end::Header-->
              <!--begin::Body-->
              <div class="card-body py-6">
                  <!--begin::Item-->
                  <div class="carousel-item active show">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center mb-5">
                      <!--begin::Chart-->
                      <div class="w-80px flex-shrink-0 me-2">
                        <div class="min-h-auto ms-n3" id="kt_slider_widget_smarter_health" style="height: 100px;"></div>
                      </div>
                      <!--end::Chart-->
                      <!--begin::Info-->
                      <div class="m-0">
                        <!--begin::Subtitle-->
                        <h4 class="fw-bold text-gray-800 mb-3">Infrastructure</h4>
                        <!--end::Subtitle-->
                        <!--begin::Items-->
                        <div class="d-flex d-grid gap-5">
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0 me-4">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="smarter-health-checks ki-duotone ki-check fs-6 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Compute</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="smarter-health-checks ki-duotone ki-check fs-6 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Network</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="smarter-health-checks ki-duotone ki-check fs-6 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Data Storage</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="smarter-health-checks ki-duotone ki-check fs-6 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Ingress</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                        </div>
                        <!--end::Items-->
                      </div>
                      <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                  </div>
                  <!--end::Item-->
              </div>
              <!--end::Body-->
            </div>
            <!--end::Slider Widget 1-->
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-6 mb-5 mb-xl-10">
            <!--begin::Slider Widget 2-->
            <div id="kt_sliders_widget_2_slider" class="card card-flush carousel carousel-custom carousel-stretch slide h-xl-100" data-bs-ride="carousel" data-bs-interval="5500">
              <!--begin::Header-->
              <div class="card-header pt-5">
                <!--begin::Title-->
                <h4 class="card-title d-flex align-items-start flex-column">
                  <span class="card-label fw-bold text-gray-800">Certification Programs</span>
                  <span class="text-gray-500 mt-1 fw-bold fs-7">Online self-paced and in demand</span>
                </h4>
                <!--end::Title-->
                <!--begin::Toolbar-->
                <div class="card-toolbar">
                  <!--begin::Carousel Indicators-->
                  <ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-success">
                    <li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="0" class="active ms-1"></li>
                    <li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="1" class="ms-1"></li>
                    <li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="2" class="ms-1"></li>
                  </ol>
                  <!--end::Carousel Indicators-->
                </div>
                <!--end::Toolbar-->
              </div>
              <!--end::Header-->
              <!--begin::Body-->
              <div class="card-body py-6">
                <!--begin::Carousel-->
                <div class="carousel-inner">
                  <!--begin::Item Prompt engineer-->
                  <div class="carousel-item active show">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center mb-9">
                      <!--begin::Symbol-->
                      <div class="symbol symbol-70px symbol-circle me-5">
                        <span class="symbol-label bg-light-success">
                          <i class="ki-duotone ki-abstract-24 fs-3x text-success">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </span>
                      </div>
                      <!--end::Symbol-->
                      <!--begin::Info-->
                      <div class="m-0">
                        <!--begin::Subtitle-->
                        <h4 class="fw-bold text-gray-800 mb-3">Prompt Engineer</h4>
                        <!--end::Subtitle-->
                        <!--begin::Items-->
                        <div class="d-flex d-grid gap-5">
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0 me-4">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>4 Modules</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>2 Instructors</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Aprox 15 hours</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Fall 25 enrollment</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                        </div>
                        <!--end::Items-->
                      </div>
                      <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Action-->
                    <div class="m-0">
                      <a href="https://smarter.sh/prompt-engineering-certificate/" class="btn btn-sm btn-light me-2 mb-2">Details</a>
                      <a href="https://smarter.sh/contact/" class="btn btn-sm btn-success mb-2">Apply</a>
                    </div>
                    <!--end::Action-->
                  </div>
                  <!--end::Item Prompt engineer-->
                  <!--begin::Item Developer-->
                  <div class="carousel-item">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center mb-9">
                      <!--begin::Symbol-->
                      <div class="symbol symbol-70px symbol-circle me-5">
                        <span class="symbol-label bg-light-success">
                          <i class="ki-duotone ki-abstract-24 fs-3x text-success">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </span>
                      </div>
                      <!--end::Symbol-->
                      <!--begin::Info-->
                      <div class="m-0">
                        <!--begin::Subtitle-->
                        <h4 class="fw-bold text-gray-800 mb-3">Developer</h4>
                        <!--end::Subtitle-->
                        <!--begin::Items-->
                        <div class="d-flex d-grid gap-5">
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0 me-4">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>5 Topics</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>1 Speakers</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>60 Min</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>137 students</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                        </div>
                        <!--end::Items-->
                      </div>
                      <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Action-->
                    <div class="m-0">
                      <a href="https://smarter.sh/developer-certificate/" class="btn btn-sm btn-light me-2 mb-2">Details</a>
                      <a href="https://smarter.sh/contact/" class="btn btn-sm btn-success mb-2">Apply</a>
                    </div>
                    <!--end::Action-->
                  </div>
                  <!--end::Item Developer-->
                  <!--begin::Item Administrator-->
                  <div class="carousel-item">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center mb-9">
                      <!--begin::Symbol-->
                      <div class="symbol symbol-70px symbol-circle me-5">
                        <span class="symbol-label bg-light-danger">
                          <i class="ki-duotone ki-abstract-25 fs-3x text-danger">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </span>
                      </div>
                      <!--end::Symbol-->
                      <!--begin::Info-->
                      <div class="m-0">
                        <!--begin::Subtitle-->
                        <h4 class="fw-bold text-gray-800 mb-3">Administrator</h4>
                        <!--end::Subtitle-->
                        <!--begin::Items-->
                        <div class="d-flex d-grid gap-5">
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0 me-4">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>8 Modules</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>1 Instructor</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Aprox 30 hours</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Fall 25 enrollment</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                        </div>
                        <!--end::Items-->
                      </div>
                      <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Action-->
                    <div class="m-0">
                      <a href="https://smarter.sh/administration-certificate/" class="btn btn-sm btn-light me-2 mb-2">Details</a>
                      <a href="https://smarter.sh/contact/" class="btn btn-sm btn-success mb-2">Apply</a>
                    </div>
                    <!--end::Action-->
                  </div>
                  <!--end::Item Administrator-->
                </div>
                <!--end::Carousel-->
              </div>
              <!--end::Body-->
            </div>
            <!--end::Slider Widget 2-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
        <!--begin::Engage widget 4-->
        <div class="card border-transparent" data-bs-theme="light" style="background-color: #1C325E;">
          <!--begin::Body-->
          <div class="card-body d-flex ps-xl-15">
            <!--begin::Wrapper-->
            <div class="m-0">
              <!--begin::Title-->
              <div class="position-relative fs-2x z-index-2 fw-bold text-white mb-7">
              <span class="me-2">Have you downloaded the
              <span class="position-relative d-inline-block text-danger">
                <a href="https://smarter.sh/cli/" class="text-danger opacity-75-hover">CLI</a>
                <!--begin::Separator-->
                <span class="position-absolute opacity-50 bottom-0 start-0 border-4 border-danger border-bottom w-100"></span>
                <!--end::Separator-->
              </span></span>yet?
              <br />Command-line interface</div>
              <!--end::Title-->
              <!--begin::Action-->
              <div class="mb-3">
                <a href='https://smarter.sh/cli/' class="btn btn-danger fw-semibold me-2">Download</a>
                <a href="/docs/cli/" class="btn btn-color-white bg-white bg-opacity-15 bg-hover-opacity-25 fw-semibold">Documentation</a>
              </div>
              <!--begin::Action-->
            </div>
            <!--begin::Wrapper-->
            <!--begin::Illustration-->
            <img src="{% static 'assets/media/illustrations/sigma-1/17-dark.png' %}" class="position-absolute me-3 bottom-0 end-0 h-200px" alt="" />
            <!--end::Illustration-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Engage widget 4-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Row-->
  </div>
  <!--end::Content container-->
</div>
{% endblock %}
