{% extends 'dashboard/base.html' %}
{% load static %}

{% block dashboard_content %}
  <div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-xxl">
    <!--begin::Row-->
    <section class="row g-5 g-xl-10">
      <!--begin::Col-->
      <div class="col-xl-4 mb-xl-10">
        <!--begin::Lists Widget 19-->
        <div class="card card-flush h-xl-100">
          <!--begin::Heading-->
          <div class="card-header rounded bgi-no-repeat bgi-size-cover bgi-position-y-top bgi-position-x-center align-items-start h-250px" style="background-image:url('{% static "assets/media/svg/shapes/top-green.png" %}');" data-bs-theme="light">
            <!--begin::Title-->
            <h3 class="card-title align-items-start flex-column text-white pt-15">
              <span class="fw-bold fs-2x mb-3">My Resources</span>
              <div class="fs-4 text-white">
                {% if dashboard.my_resources_pending_deployments > 0 %}
                <span class="opacity-75">You have</span>
                <span class="position-relative d-inline-block">
                  <a href="{% url 'prompt_workbench:listview' %}" class="link-white opacity-75-hover fw-bold d-block mb-1">{{ dashboard.my_resources_pending_deployments }} pending</a>
                  <!--begin::Separator-->
                  <span class="position-absolute opacity-50 bottom-0 start-0 border-2 border-body border-bottom w-100"></span>
                  <!--end::Separator-->
                </span>
                  {% if dashboard.my_resources_pending_deployments > 1 %}
                  <span class="opacity-75">deployments</span>
                  {% else %}
                  <span class="opacity-75">deployment</span>
                  {% endif %}
                {% endif %}
              </div>
            </h3>
            <!--end::Title-->
          </div>
          <!--end::Heading-->
          <!--begin::Body-->
          <div class="card-body mt-n20">
            <!--begin::Stats-->
            <div class="mt-n20 position-relative">
              <!--begin::Row-->
              <div class="row g-3 g-lg-6">
                <!--begin::Col-->
                <div class="col-6">
                  <!--begin::Items-->
                  <a href="{% url 'prompt_workbench:listview' %}">
                    <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                      <!--begin::Symbol-->
                      <div class="symbol symbol-30px me-5 mb-8">
                        <span class="symbol-label">
                          <i class="ki-duotone ki-technology-2 fs-1 text-primary">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </span>
                      </div>
                      <!--end::Symbol-->
                      <!--begin::Stats-->
                      <div class="m-0">
                        <!--begin::Number-->
                        <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_chatbots }}</span>
                        <!--end::Number-->
                        <!--begin::Desc-->
                        <span class="text-gray-500 fw-semibold fs-6">Workbench</span>
                        <!--end::Desc-->
                      </div>
                      <!--end::Stats-->
                    </div>
                    </a>
                  <!--end::Items-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-6">
                  <a href="/admin/plugin/pluginmeta/">
                  <!--begin::Items-->
                  <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                      <span class="symbol-label">
                        <i class="ki-duotone ki-cube-2 fs-1 text-primary">
                          <span class="path1"></span>
                          <span class="path2"></span>
                        </i>
                      </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Stats-->
                    <div class="m-0">
                      <!--begin::Number-->
                      <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_plugins }}</span>
                      <!--end::Number-->
                      <!--begin::Desc-->
                      <span class="text-gray-500 fw-semibold fs-6">Plugins</span>
                      <!--end::Desc-->
                    </div>
                    <!--end::Stats-->
                  </div>
                  <!--end::Items-->
                  </a>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-6">
                  <!--begin::Items-->
                  <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                      <span class="symbol-label">
                        <i class="ki-duotone ki-key fs-1 text-primary">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                        </i>
                      </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Stats-->
                    <div class="m-0">
                      <!--begin::Number-->
                      <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_api_keys }}</span>
                      <!--end::Number-->
                      <!--begin::Desc-->
                      <span class="text-gray-500 fw-semibold fs-6">Api Keys</span>
                      <!--end::Desc-->
                    </div>
                    <!--end::Stats-->
                  </div>
                  <!--end::Items-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-6">
                  <!--begin::Items-->
                  <div class="bg-gray-100 bg-opacity-70 rounded-2 px-6 py-5">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-30px me-5 mb-8">
                      <span class="symbol-label">
                        <i class="ki-duotone ki-bank fs-1 text-primary">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                        </i>
                      </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Stats-->
                    <div class="m-0">
                      <!--begin::Number-->
                      <span class="text-gray-700 fw-bolder d-block fs-2qx lh-1 ls-n1 mb-1">{{ dashboard.my_resources_custom_domains }}</span>
                      <!--end::Number-->
                      <!--begin::Desc-->
                      <span class="text-gray-500 fw-semibold fs-6">Custom Domains</span>
                      <!--end::Desc-->
                    </div>
                    <!--end::Stats-->
                  </div>
                  <!--end::Items-->
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Stats-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Lists Widget 19-->
      </div>
      <!--end::Col-->
      <!--begin::Col-->
      <div class="col-xl-8 mb-5 mb-xl-10">
        <!--begin::Row-->
        <div class="row g-5 g-xl-10">
          <!--begin::Col-->
          <div class="col-xl-6 mb-xl-10">
            <!--begin::Slider Widget 1-->
            <div id="kt_sliders_widget_1_slider" class="card card-flush carousel carousel-custom carousel-stretch slide h-xl-100" data-bs-ride="carousel" data-bs-interval="5000">
              <!--begin::Header-->
              <div class="card-header pt-5">
                <!--begin::Title-->
                <h4 class="card-title d-flex align-items-start flex-column">
                  <span class="card-label fw-bold text-gray-800">Smarter {{ dashboard.smarter_version }}</span>
                  <span class="text-gray-500 mt-1 fw-bold fs-7">Backend Service Health</span>
                </h4>
                <!--end::Title-->
              </div>
              <!--end::Header-->
              <!--begin::Body-->
              <div class="card-body py-6">
                  <!--begin::Item-->
                  <div class="carousel-item active show">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center mb-5">
                      <!--begin::Chart-->
                      <div class="w-80px flex-shrink-0 me-2">
                        <div class="min-h-auto ms-n3" id="kt_slider_widget_smarter_health" style="height: 100px;"></div>
                      </div>
                      <!--end::Chart-->
                      <!--begin::Info-->
                      <div class="m-0">
                        <!--begin::Subtitle-->
                        <h4 class="fw-bold text-gray-800 mb-3">Infrastructure</h4>
                        <!--end::Subtitle-->
                        <!--begin::Items-->
                        <div class="d-flex d-grid gap-5">
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0 me-4">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="smarter-health-checks ki-duotone ki-check fs-6 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Compute</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="smarter-health-checks ki-duotone ki-check fs-6 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Network</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="smarter-health-checks ki-duotone ki-check fs-6 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Data Storage</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="smarter-health-checks ki-duotone ki-check fs-6 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Ingress</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                        </div>
                        <!--end::Items-->
                      </div>
                      <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                  </div>
                  <!--end::Item-->
              </div>
              <!--end::Body-->
            </div>
            <!--end::Slider Widget 1-->
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-6 mb-5 mb-xl-10">
            <!--begin::Slider Widget 2-->
            <div id="kt_sliders_widget_2_slider" class="card card-flush carousel carousel-custom carousel-stretch slide h-xl-100" data-bs-ride="carousel" data-bs-interval="5500">
              <!--begin::Header-->
              <div class="card-header pt-5">
                <!--begin::Title-->
                <h4 class="card-title d-flex align-items-start flex-column">
                  <span class="card-label fw-bold text-gray-800">Certification Programs</span>
                  <span class="text-gray-500 mt-1 fw-bold fs-7">Online self-paced and in demand</span>
                </h4>
                <!--end::Title-->
                <!--begin::Toolbar-->
                <div class="card-toolbar">
                  <!--begin::Carousel Indicators-->
                  <ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-success">
                    <li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="0" class="active ms-1"></li>
                    <li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="1" class="ms-1"></li>
                    <li data-bs-target="#kt_sliders_widget_2_slider" data-bs-slide-to="2" class="ms-1"></li>
                  </ol>
                  <!--end::Carousel Indicators-->
                </div>
                <!--end::Toolbar-->
              </div>
              <!--end::Header-->
              <!--begin::Body-->
              <div class="card-body py-6">
                <!--begin::Carousel-->
                <div class="carousel-inner">
                  <!--begin::Item Prompt engineer-->
                  <div class="carousel-item active show">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center mb-9">
                      <!--begin::Symbol-->
                      <div class="symbol symbol-70px symbol-circle me-5">
                        <span class="symbol-label bg-light-success">
                          <i class="ki-duotone ki-abstract-24 fs-3x text-success">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </span>
                      </div>
                      <!--end::Symbol-->
                      <!--begin::Info-->
                      <div class="m-0">
                        <!--begin::Subtitle-->
                        <h4 class="fw-bold text-gray-800 mb-3">Prompt Engineer</h4>
                        <!--end::Subtitle-->
                        <!--begin::Items-->
                        <div class="d-flex d-grid gap-5">
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0 me-4">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>4 Modules</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>2 Instructors</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Approx 15 hours</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Fall 25 enrollment</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                        </div>
                        <!--end::Items-->
                      </div>
                      <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Action-->
                    <div class="m-0">
                      <a href="https://smarter.sh/prompt-engineering-certificate/" class="btn btn-sm btn-light me-2 mb-2">Details</a>
                      <a href="https://smarter.sh/contact/" class="btn btn-sm btn-success mb-2">Apply</a>
                    </div>
                    <!--end::Action-->
                  </div>
                  <!--end::Item Prompt engineer-->
                  <!--begin::Item Developer-->
                  <div class="carousel-item">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center mb-9">
                      <!--begin::Symbol-->
                      <div class="symbol symbol-70px symbol-circle me-5">
                        <span class="symbol-label bg-light-success">
                          <i class="ki-duotone ki-abstract-24 fs-3x text-success">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </span>
                      </div>
                      <!--end::Symbol-->
                      <!--begin::Info-->
                      <div class="m-0">
                        <!--begin::Subtitle-->
                        <h4 class="fw-bold text-gray-800 mb-3">Developer</h4>
                        <!--end::Subtitle-->
                        <!--begin::Items-->
                        <div class="d-flex d-grid gap-5">
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0 me-4">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>5 Topics</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>1 Speakers</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>60 Min</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>137 students</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                        </div>
                        <!--end::Items-->
                      </div>
                      <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Action-->
                    <div class="m-0">
                      <a href="https://smarter.sh/developer-certificate/" class="btn btn-sm btn-light me-2 mb-2">Details</a>
                      <a href="https://smarter.sh/contact/" class="btn btn-sm btn-success mb-2">Apply</a>
                    </div>
                    <!--end::Action-->
                  </div>
                  <!--end::Item Developer-->
                  <!--begin::Item Administrator-->
                  <div class="carousel-item">
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-center mb-9">
                      <!--begin::Symbol-->
                      <div class="symbol symbol-70px symbol-circle me-5">
                        <span class="symbol-label bg-light-danger">
                          <i class="ki-duotone ki-abstract-25 fs-3x text-danger">
                            <span class="path1"></span>
                            <span class="path2"></span>
                          </i>
                        </span>
                      </div>
                      <!--end::Symbol-->
                      <!--begin::Info-->
                      <div class="m-0">
                        <!--begin::Subtitle-->
                        <h4 class="fw-bold text-gray-800 mb-3">Administrator</h4>
                        <!--end::Subtitle-->
                        <!--begin::Items-->
                        <div class="d-flex d-grid gap-5">
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0 me-4">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>8 Modules</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>1 Instructor</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                          <!--begin::Item-->
                          <div class="d-flex flex-column flex-shrink-0">
                            <!--begin::Section-->
                            <span class="d-flex align-items-center fs-7 fw-bold text-gray-500 mb-2">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Approx 30 hours</span>
                            <!--end::Section-->
                            <!--begin::Section-->
                            <span class="d-flex align-items-center text-gray-500 fw-bold fs-7">
                            <i class="ki-duotone ki-right-square fs-6 text-gray-600 me-2">
                              <span class="path1"></span>
                              <span class="path2"></span>
                            </i>Fall 25 enrollment</span>
                            <!--end::Section-->
                          </div>
                          <!--end::Item-->
                        </div>
                        <!--end::Items-->
                      </div>
                      <!--end::Info-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Action-->
                    <div class="m-0">
                      <a href="https://smarter.sh/administration-certificate/" class="btn btn-sm btn-light me-2 mb-2">Details</a>
                      <a href="https://smarter.sh/contact/" class="btn btn-sm btn-success mb-2">Apply</a>
                    </div>
                    <!--end::Action-->
                  </div>
                  <!--end::Item Administrator-->
                </div>
                <!--end::Carousel-->
              </div>
              <!--end::Body-->
            </div>
            <!--end::Slider Widget 2-->
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
        <!--begin::Engage widget 4-->
        <div class="card border-transparent" data-bs-theme="light" style="background-color: #1C325E;">
          <!--begin::Body-->
          <div class="card-body d-flex ps-xl-15">
            <!--begin::Wrapper-->
            <div class="m-0">
              <!--begin::Title-->
              <div class="position-relative fs-2x z-index-2 fw-bold text-white mb-7">
              <span class="me-2">Have you downloaded the
              <span class="position-relative d-inline-block text-danger">
                <a href="https://smarter.sh/cli/" class="text-danger opacity-75-hover">CLI</a>
                <!--begin::Separator-->
                <span class="position-absolute opacity-50 bottom-0 start-0 border-4 border-danger border-bottom w-100"></span>
                <!--end::Separator-->
              </span></span>yet?
              <br />Command-line interface</div>
              <!--end::Title-->
              <!--begin::Action-->
              <div class="mb-3">
                <a href='https://smarter.sh/cli/' class="btn btn-danger fw-semibold me-2">Download</a>
                <a href="/docs/cli/" class="btn btn-color-white bg-white bg-opacity-15 bg-hover-opacity-25 fw-semibold">Documentation</a>
              </div>
              <!--begin::Action-->
            </div>
            <!--begin::Wrapper-->
            <!--begin::Illustration-->
            <img src="{% static 'assets/media/illustrations/sigma-1/17-dark.png' %}" class="position-absolute me-3 bottom-0 end-0 h-200px" alt="" />
            <!--end::Illustration-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Engage widget 4-->
      </div>
      <!--end::Col-->
    </section>
    <!--end::Row-->
    <!--begin::Row downloads Shalim -->
    <section class="row g-5 g-xl-10">
      <div class="col-xl-4 mb-xl-10">
        <!--begin::Download VS Code Extension widget 4-->
        <div class="card border-transparent" data-bs-theme="light" style="background-color: #1C325E;">
          <!--begin::Body-->
          <div class="card-body d-flex ps-xl-15">
            <!--begin::Wrapper-->
            <div class="m-0">
              <!--begin::Title-->
              <div class="position-relative fs-2x z-index-2 fw-bold text-white mb-7">
              <span class="me-2">VS Code Extension for Smarter manifests</span>
              <!--end::Title-->
              <!--begin::Action-->
              <div class="mb-3">
                <a href='https://marketplace.visualstudio.com/items?itemName=Querium.smarter-manifest' class="btn btn-danger fw-semibold me-2">Download</a>
              </div>
              <!--begin::Action-->
            </div>
            <!--begin::Wrapper-->
            <!--begin::Illustration-->
            <img src="{% static 'assets/media/illustrations/sigma-1/17-dark.png' %}" class="position-absolute me-3 bottom-0 end-0 h-200px" alt="" />
            <!--end::Illustration-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Download VS Code Extension widget 4-->
        </div>
      </div>
      <div class="col-xl-4 mb-xl-10">
        <!--begin::Download PyPi widget 4-->
        <div class="card border-transparent" data-bs-theme="light" style="background-color: #1C325E;">
          <!--begin::Body-->
          <div class="card-body d-flex ps-xl-15">
            <!--begin::Wrapper-->
            <div class="m-0">
              <!--begin::Title-->
              <div class="position-relative fs-2x z-index-2 fw-bold text-white mb-7">
              <span class="me-2">Get the
              <span class="position-relative d-inline-block text-danger">
                <a href="https://pypi.org/project/smarter-api/" class="text-danger opacity-75-hover">Python Library</a>
                <!--begin::Separator-->
                <span class="position-absolute opacity-50 bottom-0 start-0 border-4 border-danger border-bottom w-100"></span>
                <!--end::Separator-->
              </span></span>
              <!--end::Title-->
              <!--begin::Action-->
              <div class="mb-3">
                <a href='https://pypi.org/project/smarter-api/' class="btn btn-danger fw-semibold me-2">Download</a>
              </div>
              <!--begin::Action-->
            </div>
            <!--begin::Wrapper-->
            <!--begin::Illustration-->
            <img src="{% static 'assets/media/illustrations/sigma-1/17-dark.png' %}" class="position-absolute me-3 bottom-0 end-0 h-200px" alt="" />
            <!--end::Illustration-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Download PyPi widget 4-->
        </div>
      </div>
      <section class="col-xl-4 mb-xl-10">
        <!--begin::Download NPM widget 4-->
        <div class="card border-transparent" data-bs-theme="light" style="background-color: #1C325E;">
          <!--begin::Body-->
          <div class="card-body d-flex ps-xl-15">
            <!--begin::Wrapper-->
            <div class="m-0">
              <!--begin::Title-->
              <div class="position-relative fs-2x z-index-2 fw-bold text-white mb-7">
              <span class="me-2">React Chat component on NPM</span>
              <!--end::Title-->
              <!--begin::Action-->
              <div class="mb-3">
                <a href='https://www.npmjs.com/package/@smarter.sh/ui-chat' class="btn btn-danger fw-semibold me-2">Download</a>
              </div>
              <!--begin::Action-->
            </div>
            <!--begin::Wrapper-->
            <!--begin::Illustration-->
            <img src="{% static 'assets/media/illustrations/sigma-1/17-dark.png' %}" class="position-absolute me-3 bottom-0 end-0 h-200px" alt="" />
            <!--end::Illustration-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Download NPM widget 4-->
        </div>
    </section>
    <!--end::Row downloads Shalim -->
    <!--begin::Row manifests-->
    <div class="row g-5 g-xl-10">
      <!--begin::Col ChatBot manifest-->
      <div class="col-xl-6 mb-xl-10">
        <h5 class="text-center">Example ChatBot Manifest</h5>
        <div class="code-sample-body">
          <pre class="code-snippet prettyprint">
            <code>
apiVersion: smarter.sh/v1
kind: Chatbot
metadata:
  description: Create and deploy an example Smarter chatbot. Prompt with the phrase, 'example function calling' to trigger the example Static Plugin
  name: ExampleChatbot
  version: 0.1.0
spec:
  apiKey: camelCaseNameOfApiKey
  config:
    appAssistant: Elle
    appBackgroundImageUrl: https://example.com/background-image.jpg
    appExamplePrompts:
    - example function calling
    - What is the weather in New York?
    - Tell me a joke
    - What is the capital of France?
    appFileAttachment: false
    appInfoUrl: https://example.com
    appLogoUrl: https://example.com/logo.png
    appName: Example Chatbot
    appPlaceholder: Ask me anything...
    appWelcomeMessage: Welcome to the Example Chatbot! How can I help you today?
    customDomain: null
    defaultMaxTokens: 256
    defaultModel: gpt-5-nano
    defaultSystemRole: You are a helpful chatbot. When given the opportunity to utilize function calling, you should always do so. This will allow you to provide the best possible responses to the user. If you are unable to provide a response, you should prompt the user for more information. If you are still unable to provide a response, you should inform the user that you are unable to help them at this time.
    defaultTemperature: 0.5
    deployed: true
    dnsVerificationStatus: Not Verified
    provider: openai
    subdomain: example-chatbot
  functions:
  - weather
  plugins:
  - everlasting_gobstopper
  - example_configuration
            </code>
          </pre>
        </div>
      </div>
      <!--end::Col ChatBot manifest-->
      <!--begin::Col Plugin manifest-->
      <div class="col-xl-6 mb-xl-10">
        <h5 class="text-center">Example Plugin Manifest</h5>
        <div class="code-sample-body">
          <pre class="code-snippet prettyprint">
            <code>
apiVersion: smarter.sh/v1
kind: Plugin
metadata:
description: Get additional information about the Everlasting Gobstopper product created by Willy Wonka Chocolate Factory. Information includes sales promotions, coupon codes, company contact information and biographical background on the company founder.
name: everlasting_gobstopper
pluginClass: static
tags:
- candy
- treats
- chocolate
- Gobstoppers
- Willy Wonka
version: 0.1.0
spec:
data:
  description: Get additional information about the Everlasting Gobstopper product created by Willy Wonka Chocolate Factory. Information includes sales promotions, coupon codes, company contact information and biographical background on the company founder.
  staticData:
    biographical: Willy Wonka is a fictional character appearing in British author Roald Dahls 1964 children's novel Charlie and the Chocolate Factory, its 1972 sequel Charlie and the Great Glass Elevator and several films based on those books. He is the eccentric founder and proprietor of the Wonka Chocolate Factory
    contact:
    - name: Willy Wonka
    - title: Founder and CEO
    - location: 1234 Chocolate Factory Way, Chocolate City, Chocolate State, USA
    - phone: +1 123-456-7890
    - website: https://wwcf.com
    - whatsapp: 11234567890
    - email: ww@wwcf.com
    coupon_codes:
    - code: 10OFF
      description: 10% off your next purchase
      name: 10% off
    - code: 20OFF
      description: 20% off your next purchase
      name: 20% off
    sales_promotions:
    - description: The Everlasting Gobstopper is a candy that, according to Willy Wonka, "Never Gets Smaller Or Ever Gets Eaten". It is the main focus of Charlie and the Chocolate Factory, both the 1971 film and the 2005 film, and Willy Wonka and the Chocolate Factory, the 1971 film adaptation of the novel.
      image: https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Everlasting_Gobstopper.jpg/220px-Everlasting_Gobstopper.jpg
      name: Everlasting Gobstopper
      price: $1.00
    - description: Wonka Bars are a fictional brand of chocolate made by Willy Wonka, and also a chocolate bar inspired by the Willy Wonka Bar from the novel and the films Willy Wonka & the Chocolate Factory and Charlie and the Chocolate Factory.
      image: https://m.media-amazon.com/images/I/81E-734cMzL._AC_UF894,1000_QL80_.jpg
      name: Wonka Bar
      price: $1.00
prompt_workbench:
  maxTokens: 256
  model: gpt-5-nano
  provider: openai
  systemRole: You are a helpful marketing agent for the [Willy Wonka Chocolate Factory](https://wwcf.com). Whenever possible you should defer to the tool calls provided for additional information about everlasting gobstoppers.
  temperature: 0.5
selector:
  directive: search_terms
  searchTerms:
  - Gobstopper
  - Gobstoppers
  - Gobbstopper
  - Gobbstoppers
            </code>
          </pre>
        </div>
      </div>
      <!--end::Col Plugin manifest-->
    </div>
    <!--end::Row manifests-->
    <!--begin::Row yt videos-->
    <div class="row g-5 g-xl-10">
      <!--begin::Col yt video 1-->
      <div class="col-xl-6 mb-xl-10">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/YtVxkjHzZrE" frameborder="0" allowfullscreen></iframe>
      </div>
      <!--end::Col yt video 1-->
      <!--begin::Col yt video 2-->
      <div class="col-xl-6 mb-xl-10">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/G2RSCzxxupE" frameborder="0" allowfullscreen></iframe>
      </div>
      <!--end::Col yt video 2-->
    </div>
    <!--end::Row yt videos-->
  </section>
  <!--end::Content container-->
</div>
{% endblock %}
