{% extends 'dashboard/base.html' %}
{% load static %}

{% block dashboard_content %}
  <div id="kt_app_content" class="app-content flex-column-fluid">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="app-container container-xxl">
    <!--begin::Row-->
    <section class="row g-5 g-xl-10">
     {% include "dashboard/widgets/my-resources.html" %}
      <!--begin::Col-->
      <div class="col-xl-8 mb-5 mb-xl-10">
        <!--begin::Row-->
        <div class="row g-5 g-xl-10">
          {% include "dashboard/widgets/service-health.html" %}
          {% include "dashboard/widgets/certification-program.html" %}
        </div>
        <!--end::Row-->
        {% include "dashboard/widgets/download-cli.html" %}
      </div>
      <!--end::Col-->
    </section>
    <!--end::Row-->
    <!--begin::Row downloads Shalim -->
    <section class="row g-5 g-xl-10">
      {% include "dashboard/widgets/download-vscode.html" %}
      {% include "dashboard/widgets/download-pypi.html" %}
      {% include "dashboard/widgets/download-npm.html" %}
    </section>
    <!--end::Row downloads Shalim -->
    <!--begin::Row manifests-->
    <div class="row g-5 g-xl-10">
      {% include "dashboard/widgets/manifest-chatbot.html" %}
      {% include "dashboard/widgets/manifest-plugin.html" %}
    </div>
    <!--end::Row manifests-->
    <!--begin::Row yt videos-->
    <div class="row g-5 g-xl-10">
      {% include "dashboard/widgets/youtube-video-1.html" %}
      {% include "dashboard/widgets/youtube-video-2.html" %}
    </div>
    <!--end::Row yt videos-->
  </section>
  <!--end::Content container-->
</div>
{% endblock %}
