{% extends 'base.html' %}
{% load static %}

      {% block root %}
			<!--begin::Page bg image-->
			<style>body { background-image: url("{% static 'assets/media/auth/bg12.jpg' %}"); } [data-bs-theme="dark"] body { background-image: url("{% static 'assets/media/auth/bg12-dark.jpg' %}"); }</style>
			<!--end::Page bg image-->
			<!--begin::Authentication - Signup Welcome Message -->
			<div class="d-flex flex-column flex-center flex-column-fluid">
				<!--begin::Content-->
				<div class="d-flex flex-column flex-center text-center p-10">
					<!--begin::Wrapper-->
					<div class="card card-flush w-lg-650px py-5">
						<div class="card-body py-15 py-lg-20">
							<!--begin::Logo-->
							<div class="mb-13">
								<a href="/" class="">
									<img alt="Logo" src="{% static 'querium/querium-logo-orange-transparent.png' %}" class="h-200px" />
								</a>
							</div>
							<!--end::Logo-->
							<!--begin::Title-->
							<h1 class="fw-bolder text-gray-900 mb-7">Email Address Added.</h1>
							<!--end::Title-->
							<!--begin::Text-->
              <div class="fw-semibold fs-6 text-gray-500 mb-7">
                We'll notify you when the launch date nears.
              </div>
							<!--end::Text-->
							<!--begin::Form-->
							<form class="w-md-350px mb-2 mx-auto" action="#" id="kt_coming_soon_form">
								<div class="fv-row text-start">
									<div class="d-flex flex-column flex-md-row justify-content-center gap-3">
									</div>
								</div>
							</form>
							<!--end::Form-->
							<!--begin::Illustration-->
							<div class="mb-n5">
								<img src="{% static 'assets/media/auth/coming-soon.png' %}" class="mw-100 mh-300px theme-light-show" alt="" />
								<img src="{% static 'assets/media/auth/coming-soon-dark.png' %}" class="mw-100 mh-300px theme-dark-show" alt="" />
							</div>
							<!--end::Illustration-->
						</div>
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Authentication - Signup Welcome Message-->
      {% endblock %}
      {% block javascript_extra %}
      <script >
        $(document).ready(function(){
          Swal.fire({
              text: "We have received your request. You will be notified once we go live.",
              icon: "success",
              buttonsStyling: false,
              confirmButtonText: "Dismiss",
              customClass: {
                  confirmButton: "btn btn-primary"
              }
          }).then(function (result) {
            // more stuff.
          });

        });
      </script>
    {% endblock %}
