div[class^="literal-block-wrapper"],
.rst-content .literal-block-wrapper {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}

section#smarter-settings dl.class > dt.sig.sig-object.py,
section#smarter\.common\.conf\.Settings dl.class > dt.sig.sig-object.py {
  display: none;
}
