div[class^="literal-block-wrapper"],
.rst-content .literal-block-wrapper {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}

section#smarter-settings dt.sig.sig-object.py:first-of-type,
section#smarter\.common\.conf\.Settings dt.sig.sig-object.py:first-of-type {
  display: none;
}
