{% extends 'base.html' %}
{% load static html_filters %}

{% block canonical %}
{% endblock %}

{% block head_extra %}
  {{ block.super }}
  <link href="{% static 'cms/styles.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block root %}
<!--begin::Page-->
<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
  <div class="smarter-static-header">
    {% include 'cms/base/header.html' %}
  </div>
  <!--end::Header-->
  <!--begin::Wrapper-->
  <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
    <!--begin::Main-->
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
      <!--begin::Content wrapper-->
      <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
          <!--begin::Toolbar container-->
          <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
              <!--begin::Title-->
              <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                Documentation</h1>
              <!--end::Title-->
            </div>
            <!--end::Page title-->
          </div>
          <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
          <!--begin::Content container-->
          <div id="kt_app_content_container" class="app-container container-xxl">
            <!--begin::Documentation main-->
            <div class="d-flex flex-column flex-xl-row">
              <!--begin::Content-->
              <div class="card bg-body align-self-start mb-9 mb-xl-0 me-lg-9">

                <!-- begin::Wagtail block tag -->
                {% block content %}
                  <div class="smarter-wagtail-page-block">
                    {{ page.body|decode_html_entities|safe }}
                  </div>
                {% endblock %}
                <!-- end::Wagtail block tag -->
                <!-- begin::docs app static content -->
                <div class="smarter-static-page-block">
                  {% block docs_content %}
                  {% endblock %}
                </div>
                <!-- end::docs app static content -->
              </div>
              <!--end::Content-->
              <!--begin::Sidebar-->
              <div class="flex-column flex-lg-row-auto w-100 w-xl-350px">
                <div class="smarter-wagtail-sidebar">
                  {% for block in page.sidebar %}
                    {% if block.block_type == 'html_block' %}
                        <div class="sidebar-item">{{ block.value|safe|render_as_template:request }}</div>
                    {% endif %}
                    {# Add other conditions for different snippet types as needed #}
                  {% endfor %}
                </div>
                <div class="smarter-static-sidebar">
                  {% block docs_sidebar %}
                  {% endblock %}
                </div>
              </div>
              <!--end::Sidebar-->

            </div>
            <!--end::Documentation main-->
          </div>
          <!--end::Content container-->
        </div>
        <!--end::Content-->
      </div>
      <!--end::Content wrapper-->
      <div class="smarter-static-footer">
        {% include 'cms/base/footer.html' %}
      </div>
    </div>
    <!--end:::Main-->
  </div>
  <!--end::Wrapper-->
</div>
<!--end::Page-->
{% endblock %}
