.card-view {
  display: block;
}

.llmhost-compute-card > .card-header {
  border-bottom: 1px solid #e5e5e5;
}

.smarter-llmhost-compute-card {
}

.user-llmhost-compute-card {
}

.card-body > p {
  margin-bottom: 2px !important;
}

.llmhost-compute-list-card-link {
  text-decoration: none;
  color: inherit;
}

.llmhost-compute-list-card-header {
  position: relative;
}

.llmhost-compute-list-card-title {
  border-bottom: 1px solid red;
  padding-bottom: 6px;
}

.llmhost-compute-list-card-actions {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}
