{% extends "dashboard/base.html" %}

{% block dashboard_content %}
  {{ block.super }}

  <!-- react.js app entry point -->
  <div
    id="{{ div_id }}"
    class="smarter-chat"
    style="height: 88vh;"
    smarter-chatbot-api-url="{{ chatbot_api_url }}"
    smarter-toggle-metadata="{{ toggle_metadata }}">
  </div>
  <!--
    retrieve and inject the js/css artifacts of the react.js build into the DOM.
    example: https://cdn.platform.smarter.sh/ui-chat/app-loader.js
  -->
  <script class="smarter-chat" async="" src="{{ app_loader_url }}"></script>

{% endblock %}
