{% extends "dashboard/base.html" %}

{% block dashboard_content %}
  {{ block.super }}

  <!--
    react.js app entry point
    retrieve and inject the js/css artifacts of the react.js build into the DOM.
    example:
    <div
      id="smarter-sh-v1-ui-chat-root"
      class="smarter-chat"
      smarter-chatbot-api-url="http://openai.3141-5926-5359.api.localhost:8000/"
      smarter-toggle-metadata="False"
      style="height: 88vh;">
    </div>
  -->
  <div
    id="{{ div_id }}"
    class="smarter-chat"
    style="height: 88vh;"
    smarter-chatbot-api-url="{{ chatbot_api_url }}"
    smarter-toggle-metadata="{{ toggle_metadata }}">
  </div>
  <!--
    retrieve and inject the js/css artifacts of the react.js build into the DOM.
    example:
    <script
      class="smarter-chat"
      async=""
      src="https://cdn.platform.smarter.sh/ui-chat/app-loader.js">
    </script>
  -->
  <script class="smarter-chat" async="" src="{{ app_loader_url }}"></script>

{% endblock %}
