{% extends "dashboard/base.html" %}

{% block dashboard_content %}
  {{ block.super }}

  <!-- react.js app entry point -->
  <div id="{{ div_id }}"></div>
  <!-- retrieve and inject the js/css artifacts of the react.js build into the DOM. -->
  <script>
    async function injectReactApp() {
      try {
        const response = await fetch('{{ ui_chat_url }}');
        const text = await response.text();
        const parser = new DOMParser();
        const doc = parser.parseFromString(text, 'text/html');

        const elements = doc.body.childNodes;
        const rootDiv = document.getElementById('{{ div_id }}');

        elements.forEach(element => {
        if (!element.classList.contains('internal')) {
            rootDiv.insertAdjacentElement('beforebegin', element);
          }
        });
      } catch (error) {
        console.error('Error fetching and injecting chat app into the DOM. \
         This error originates from the Smarter Chat component, \
         Which is served from AWS Cloudfront, {{ ui_chat_url }} \
         Begin your trouble shooting journey by ensuring that this \
         url permits public anonymous http GET requests. Additionally, \
         this url is expected to return css and js link elements \
         pointing to a valid react.js build. Source code for this \
         react.js build is located at, \
         https://github.com/smarter-sh/smarter-chat', error);
      }
    }
    document.addEventListener("DOMContentLoaded", function() {
      injectReactApp();
    });
  </script>
{% endblock %}
