{% extends 'account/dashboard/base.html' %}
{% load static %}

{% block dashboard_title %}Account Settings{% endblock %}

    {% block dashboard_title_breadcrumbs %}
      {{ block.super }}
      <!--begin::Item-->
      <li class="breadcrumb-item text-muted">
        <a href="/account/dashboard/api-keys/" class="text-muted text-hover-primary">API Keys</a>
      </li>
    {% endblock %}


  {% block dashboard_detail_view %}
  <!--begin::Basic info-->
  <div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_apikey_details" aria-expanded="true" aria-controls="kt_apikey_details">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="fw-bold m-0">New API Key</h3>
      </div>
      <!--end::Card title-->
    </div>
    <!--begin::Card header-->
    <!--begin::Content-->
    <div id="kt_apikey_details" class="collapse show">
      <!--begin::Form-->
      <form
        id="kt_apikey_detail_form"
        class="form"
        data-primary-key="{{ account_apikeys.api_key.key_id }}"
        data-entry-mode="true"
      >
        {% csrf_token %}
        <!--begin::Card body API Key -->
        <div class="card-body border-top p-9">
          <!--begin::Input group Description -->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semibold fs-6" style="text-transform: capitalize;">{{ account_apikeys.apikey_form.description.name }}</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                id="input_{{ account_apikeys.apikey_form.description.name }}"
                type="text"
                name="{{ account_apikeys.apikey_form.description.name }}"
                class="form-control form-control-lg form-control-solid"
                placeholder="A description for this API key. Be concise ..."
                value="{% if account_apikeys.apikey_form.description.value != None %}{{ account_apikeys.apikey_form.description.value }}{% endif %}"
                 />

            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group Description -->

          <!--begin::Input group is_active -->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semibold fs-6" style="text-transform: capitalize;">{{ account_apikeys.apikey_form.is_active.name }}</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-2 fv-row">
              <select
                  id="input_{{ account_apikeys.apikey_form.is_active.name }}"
                  name="{{ account_apikeys.apikey_form.is_active.name }}"
                  class="form-select form-select-solid form-select-lg fw-semibold fs-6 text-gray-700"
              >
                  <option value="True" {% if account_apikeys.apikey_form.is_active.value != None and account_apikeys.apikey_form.is_active.value == True %}selected{% endif %}>True</option>
                  <option value="False" {% if account_apikeys.apikey_form.is_active.value != None and account_apikeys.apikey_form.is_active.value == False %}selected{% endif %}>False</option>
              </select>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group is_active -->

          <!--begin::Input group api_key -->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semibold fs-6">
              <span class="">API Key</span>
              <span class="ms-1" data-bs-toggle="tooltip" title="We will only show this value once. Store your api key value in a safe location.">
                <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                </i>
              </span>
            </label>
          <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row" style="display: flex;">
              <input
                readonly
                id="input_api_key"
                type="text"
                name="api_key"
                class="form-control form-control-lg form-control-solid text-muted"
                value="{{ account_apikeys.token_key }}" />
              {% if account_apikeys.is_new %}
              <button id="button_api_key_copy" data-action="copy" class="btn btn-active-color-primary btn-color-gray-400 btn-icon btn-lg btn-outline-light">
                <i class="ki-duotone ki-copy fs-2"></i>
              </button>
              {% endif %}
            </div>
          <!--end::Col-->
          </div>
          <!--end::Input group api_key -->
        </div>
        <!--end::Card body-->
        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            id="kt_apikey_form_cancel_btn"
            type="reset"
            class="btn btn-light btn-active-light-primary me-2"
            >Cancel</button>
          <button
            id="kt_apikey_form_save_btn"
            type="submit"
            class="btn btn-primary"
            >Save</button>
        </div>
        <!--end::Actions-->
      </form>
      <!--end::Form-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Basic info-->

  {% endblock %}


{% block javascript_extra %}
  {{ block.super }}
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="{% static 'js/account/dashboard/api-key.js' %}"></script>
		<!--end::Custom Javascript-->
{% endblock %}
