{% extends 'account/dashboard/base.html' %}
{% load static %}

{% block dashboard_title %}Account API Keys{% endblock %}

    {% block dashboard_title_breadcrumbs %}
      {{ block.super }}
      <!--begin::Item-->
      <li class="breadcrumb-item text-muted">
        <a href="/account/dashboard/api-keys/" class="text-muted text-hover-primary">API Keys</a>
      </li>
    {% endblock %}


    {% block dashboard_detail_view %}
    <!--begin::API Overview-->
    <div class="card mb-5 mb-xxl-10">
      <!--begin::Header-->
      <div class="card-header">
        <!--begin::Title-->
        <div class="card-title">
          <h3>API Key Management</h3>
        </div>
        <!--end::Title-->
        <!--begin::Toolbar-->
        {% csrf_token %}
        <div class="card-toolbar">
          <label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
            <input id="input_sandbox_mode_checkbox" class="form-check-input" type="checkbox" checked="checked" value="1" />
            <span id="label_sandbox_mode" class="form-check-label text-muted">Live Mode</span>
          </label>
        </div>
        <!--end::Toolbar-->
      </div>
      <!--end::Header-->
      <!--begin::Body-->
      <div class="card-body py-10">
        <div class="row mb-10">
        <!--begin::Notice-->
        <!--begin::Notice-->
        <div id="notice_sandbox_mode" class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
          <!--begin::Icon-->
          <i class="ki-duotone ki-design-1 fs-2tx text-primary me-4"></i>
          <!--end::Icon-->
          <!--begin::Wrapper-->
          <div class="d-flex flex-stack flex-grow-1">
            <!--begin::Content-->
            <div class="fw-semibold">
              <div class="fs-6 text-gray-700">
                You're in sandbox mode. Your API keys can presently only be used for testing purposes, and can only be used by authenticated users in your account. Switch to live mode when you're ready to go to production.
                <a class="fw-bold" href="#">Learn More</a>.
              </div>
            </div>
            <!--end::Content-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Notice-->
        <!--end::Notice-->

        </div>
        <!--begin::Row-->
        <div class="row mb-10">
          <!--begin::Col-->
          <div class="col-md-6 pb-10 pb-lg-0">
            <h2>How to setup your API</h2>
            <p class="fs-6 fw-semibold text-gray-600 py-2">Watch this 5-minute how-to video on getting your API setup
            <br />for production use.</p>
            <a href="#" class="btn btn-light btn-active-light-primary">Watch Now</a>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-md-6">
            <h2>Best Practices</h2>
            <p class="fs-6 fw-semibold text-gray-600 py-2">Follow these best practices to ensure your Smarter API is secure and reliable.
            <br />This includes setting up rate limits, monitoring usage, doing security</p>
            <a href="#" class="btn btn-light btn-active-light-primary">Learn</a>
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::API overview-->
    <!--begin::API keys-->
    <div class="card">
      <!--begin::Header-->
      <div class="card-header card-header-stretch">
        <!--begin::Title-->
        <div class="card-title">
          <h3>API Keys</h3>
        </div>
        <!--end::Title-->
      </div>
      <!--end::Header-->
      <!--begin::Body-->
      <div class="card-body p-0">
        <!--begin::Table wrapper-->
        <div class="table-responsive">
          <!--begin::Table-->
          <table class="table align-middle table-row-bordered table-row-solid gy-4 gs-9" id="kt_api_keys_table">
            <!--begin::Thead-->
            <thead class="border-gray-200 fs-5 fw-semibold bg-lighten">
              <tr>
                <th class="min-w-250px ps-9">Description</th>
                <th class="min-w-250px px-0">Secret Key</th>
                <th class="min-w-100px">Created</th>
                <th class="min-w-100px">Last Used</th>
                <th class="w-100px"></th>
                <th class="w-100px"></th>
              </tr>
            </thead>
            <!--end::Thead-->
            <!--begin::Tbody-->
            <tbody class="fs-6 fw-semibold text-gray-600">
              {% for api_key in account_apikeys.api_keys %}
              <tr>
                <td class="ps-9">{{ api_key.user.username }}{% if api_key.description %} - {% endif %}{{ api_key.description }}</td>
                <td class="ps-0">{{ api_key }}</td>
                <td class="ps-0">{{ api_key.created_at }}</td>
                <td class="ps-0">{% if api_key.last_used_at %}{{ api_key.last_used_at }}{% else %}Never{% endif %}</td>
                <td>
                  {% if api_key.is_active %}
                  <button id="button_api_key_deactivate" data-action="disable" data-record-id="{{ api_key.token_key }}" class="btn btn-icon btn-sm ">
                    <span class="badge badge-light-success fs-7 fw-semibold">Deactivate</span>
                  </button>
                  {% else %}
                  <button id="button_api_key_activate" data-action="enable" data-record-id="{{ api_key.token_key }}" class="btn btn-icon btn-sm ">
                    <span class="badge badge-light-secondary fs-7 fw-semibold">Activate</span>
                  </button>
                  {% endif %}
                </td>
                <td>
                  {% if api_key.is_active %}
                  {% else %}
                  <button id="button_api_key_delete" data-action="delete" data-record-id="{{ api_key.token_key }}" class="btn btn-icon btn-sm ">
                    <span class="badge badge-light-danger fs-7 fw-semibold">Delete</span>
                  </button>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <!--end::Tbody-->
          </table>
          <!--end::Table-->
        </div>
        <!--end::Table wrapper-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::API keys-->
    {% endblock %}



{% block javascript_extra %}
  {{ block.super }}
		<script src="{% static 'js/account/dashboard/api-keys.js' %}"></script>
{% endblock %}
