{% extends 'account/dashboard/base.html' %}
{% load static %}

{% block dashboard_title %}Account Secrets{% endblock %}

    {% block dashboard_title_breadcrumbs %}
      {{ block.super }}
      <!--begin::Item-->
      <li class="breadcrumb-item text-muted">
        <a href="/dashboard/account/dashboard/secrets/" class="text-muted text-hover-primary">Secrets</a>
      </li>
      <!--end::Item-->
      {% endblock %}


    {% block dashboard_detail_view %}
    <!--begin::Secret Management-->
    <div class="card mb-5 mb-xxl-10">
      <!--begin::Header-->
      <div class="card-header">
        <!--begin::Title-->
        <div class="card-title">
          <h3>Secret Management</h3>
        </div>
        <!--end::Title-->
        <!--begin::Toolbar-->
        {% csrf_token %}
        <div class="card-toolbar">
        </div>
        <!--end::Toolbar-->
      </div>
      <!--end::Header-->
      <!--begin::Body-->
      <div class="card-body py-10">
        <div class="row mb-10">
        <!--begin::Notice-->
        <!--begin::Notice-->
        <div id="notice_sandbox_mode" class="notice d-flex bg-light-primary rounded border-primary border border-dashed p-6">
          <!--begin::Icon-->
          <i class="ki-duotone ki-design-1 fs-2tx text-primary me-4"></i>
          <!--end::Icon-->
          <!--begin::Wrapper-->
          <div class="d-flex flex-stack flex-grow-1">
            <!--begin::Content-->
            <div class="fw-semibold">
              <div class="fs-6 text-gray-700">
                These are your secrets. Use these to authenticate to 3rd party services via rest Apis.
                <a class="fw-bold" href="#">Learn More</a>.
              </div>
            </div>
            <!--end::Content-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Notice-->
        <!--end::Notice-->

        </div>
        <!--begin::Row-->
        <div class="row mb-10">
          <!--begin::Col-->
          <div class="col-md-6 pb-10 pb-lg-0">
            <h2>How to setup your Plugin</h2>
            <p class="fs-6 fw-semibold text-gray-600 py-2">Watch this how-to video on creating and managing secrets
            <br />for use with Smarter Plugins.</p>
            <a href="#" class="btn btn-light btn-active-light-primary">Watch Now</a>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-md-6">
            <h2>Best Practices</h2>
            <p class="fs-6 fw-semibold text-gray-600 py-2">Follow these best practices to ensure your sensitive data always remains safe.
            <a href="#" class="btn btn-light btn-active-light-primary">Learn</a>
          </div>
          <!--end::Col-->
        </div>
        <!--end::Row-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Secret Management-->
    <!--begin::Secrets-->
    <div class="card">
      <!--begin::Header-->
      <div class="card-header card-header-stretch">
        <!--begin::Title-->
        <div class="card-title">
          <h3>Secrets</h3>
        </div>
        <!--end::Title-->
      </div>
      <!--end::Header-->
      <!--begin::Body-->
      <div class="card-body p-0">
        <!--begin::Table wrapper-->
        <div class="table-responsive">
          <!--begin::Table-->
          <table class="table align-middle table-row-bordered table-row-solid gy-4 gs-9" id="kt_secrets_table">
            <!--begin::Thead-->
            <thead class="border-gray-200 fs-5 fw-semibold bg-lighten">
              <tr>
                <th class="min-w-250px ps-9">Name</th>
                <th class="min-w-250px ps-9">Description</th>
                <th class="min-w-100px">Created</th>
                <th class="min-w-100px">Modified</th>
                <th class="min-w-100px">Last Used</th>
                <th class="min-w-100px">Expires</th>
                <th class="w-100px"></th>
                <th class="w-100px"></th>
              </tr>
            </thead>
            <!--end::Thead-->
            <!--begin::Tbody-->
            <tbody class="fs-6 fw-semibold text-gray-600">
              {% for secret in account_secrets.secrets %}
              <tr>
                <td class="ps-9"><a href="/dashboard/account/dashboard/secrets/{{ secret.id }}">{{ secret.name }}</a></td>
                <td class="ps-0">{{ secret.description }}</td>
                <td class="ps-0">{{ secret.created_at }}</td>
                <td class="ps-0">{{ secret.updated_at }}</td>
                <td class="ps-0">{% if secret.last_accessed %}{{ secret.last_accessed }}{% else %}Never{% endif %}</td>
                <td class="ps-0">{% if secret.expires_at %}{{ secret.expires_at }}{% else %}Never{% endif %}</td>
                <td>
                  <button data-action="edit" data-record-id="{{ secret.id }}" class="btn btn-icon btn-sm ">
                    <span class="badge badge-light-secondary fs-7 fw-semibold">Edit</span>
                  </button>
                </td>
                <td>
                  <button data-action="delete" data-record-id="{{ secret.id }}" class="button_secret_delete btn btn-icon btn-sm ">
                    <span class="badge badge-light-danger fs-7 fw-semibold">Delete</span>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <!--end::Tbody-->
          </table>
          <!--end::Table-->
        </div>
        <!--end::Table wrapper-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Secrets-->
    {% endblock %}



{% block javascript_extra %}
  {{ block.super }}
		<script src="{% static 'js/account/dashboard/secrets.js' %}"></script>
  {% endblock %}
