{% extends 'account/dashboard/base.html' %}
{% load static %}

{% block dashboard_title %}Account Secrets{% endblock %}

    {% block dashboard_title_breadcrumbs %}
      {{ block.super }}
      <!--begin::Item-->
      <li class="breadcrumb-item text-muted">
        <a href="/dashboard/account/dashboard/secrets/" class="text-muted text-hover-primary">Secrets</a>
      </li>
    {% endblock %}


  {% block dashboard_detail_view %}
  <!--begin::Basic info-->
  <div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_secret_details" aria-expanded="true" aria-controls="kt_secret_details">
      <!--begin::Card title-->
      <div class="card-title m-0">
        {% if account_secret.is_new %}
        <h3 class="fw-bold m-0">New Secret</h3>
        {% else %}
        <h3 class="fw-bold m-0">Secret</h3>
        {% endif %}
      </div>
      <!--end::Card title-->
    </div>
    <!--begin::Card header-->
    <!--begin::Content-->
    <div id="kt_secret_details" class="collapse show">
      <!--begin::Form-->
      <form
        id="kt_secret_detail_form"
        class="form"
        data-primary-key="{{ account_secret.secret.id }}"
        data-entry-mode="true"
      >
        {% csrf_token %}
        <!--begin::Card body Secret -->
        <div class="card-body border-top p-9">
          <!--begin::Input group Name -->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semibold fs-6" style="text-transform: capitalize;">{{ account_secret.form.name.name }}</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                id="input_{{ account_secret.form.name.name }}"
                type="text"
                name="{{ account_secret.form.name.name }}"
                class="form-control form-control-lg form-control-solid"
                placeholder="A name for this Secret in camelCase. No spaces. Example: mySecret"
                value="{% if account_secret.form.name.value != None %}{{ account_secret.form.name.value }}{% endif %}"
                 />
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group Name -->

          <!--begin::Input group Description -->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semibold fs-6" style="text-transform: capitalize;">{{ account_secret.form.description.name }}</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                id="input_{{ account_secret.form.description.name }}"
                type="text"
                name="{{ account_secret.form.description.name }}"
                class="form-control form-control-lg form-control-solid"
                placeholder="A description for this Secret. Be concise ..."
                value="{% if account_secret.form.description.value != None %}{{ account_secret.form.description.value }}{% endif %}"
                 />
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group Description -->

          <!--begin::Input group expires_at -->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semibold fs-6" style="text-transform: capitalize;">Expiration</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <input
                id="input_{{ account_secret.form.expires_at.name }}"
                type="date"
                name="{{ account_secret.form.expires_at.name }}"
                class="form-control form-control-sm form-control-solid"
                placeholder="An expiration date for this Secret."
                value="{% if account_secret.form.expires_at.value != None %}{{ account_secret.form.expires_at.value }}{% endif %}"
                 />
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group expires_at -->

          <!--begin::Input group secret -->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semibold fs-6">
              <span class="">Secret</span>
              <span class="ms-1" data-bs-toggle="tooltip" title="We will encrypt this value prior to storing. It will not be viewable again once you hit 'Save'. Store your credential in a safe location.">
                <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                </i>
              </span>
            </label>
          <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row" style="display: flex;">
              <input
                id="input_value"
                type="text"
                name="value"
                class="form-control form-control-lg form-control-solid"
                value="" />
            </div>
          <!--end::Col-->
          </div>
          <!--end::Input group secret -->
        </div>
        <!--end::Card body-->
        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            id="kt_secret_form_cancel_btn"
            type="reset"
            class="btn btn-light btn-active-light-primary me-2"
            >Cancel</button>
          <button
            id="kt_secret_form_save_btn"
            type="submit"
            class="btn btn-primary"
            >Save</button>
        </div>
        <!--end::Actions-->
      </form>
      <!--end::Form-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Basic info-->

  {% endblock %}


{% block javascript_extra %}
  {{ block.super }}
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="{% static 'js/account/dashboard/secret.js' %}"></script>
		<!--end::Custom Javascript-->
{% endblock %}
