apiVersion: v2
appVersion: 0.10.20
name: smarter
description: A Helm chart for deploying Querium Smarter API and web console
type: application
version: 0.7.1
home: https://smarter.sh
sources:
  - https://github.com/QueriumCorp/smarter
maintainers:
  - name: Lawrence McDaniel
    email: lawrence@querium.com
  - name: Kent Fuka
    email: kent@querium.com
dependencies:
  - name: redis
    version: 20.6.1
    repository: https://charts.bitnami.com/bitnami
icon: https://www.querium.com/wp-content/uploads/2022/04/Querium-logo_white_transparency.png
keywords:
  - Querium
  - smarter
  - plugins
annotations:
  "helm.sh/chart": "smarter-0.7.1"
