apiVersion: v2
appVersion: 0.13.25
name: smarter
description: Smarter API and web console
type: application
version: 0.8.2
kubeVersion: ">=1.28.0-0"
home: https://smarter.sh
sources:
  - https://github.com/smarter-sh/smarter
maintainers:
  - name: Lawrence McDaniel
    email: lpm0073@gmail.com
    website: https://lawrencemcdaniel.com
dependencies:
  - name: grafana
    version: 12.1.8
    repository: https://charts.bitnami.com/bitnami
    condition: grafana.enabled
  - name: loki
    version: 6.46.0
    repository: https://grafana.github.io/helm-charts
    condition: loki.enabled
  - name: mysql
    version: 14.0.3
    repository: https://charts.bitnami.com/bitnami
    condition: mysql.enabled
  - name: mariadb
    version: 23.2.4
    repository: https://charts.bitnami.com/bitnami
    condition: mariadb.enabled
  - name: prometheus
    version: 2.1.23
    repository: https://charts.bitnami.com/bitnami
    condition: prometheus.enabled
  - name: redis
    version: 23.2.12
    repository: https://charts.bitnami.com/bitnami
    condition: redis.enabled
icon: https://platform.smarter.sh/static/images/logo/smarter-crop.png
keywords:
  - ai
  - artificial-intelligence
  - resource-management
  - platform
  - kubernetes
  - llm
  - rag
  - mlops
  - orchestration
  - workflow
  - automation
  - monitoring
  - logging
  - api
  - web
  - console
  - plugins
  - education
  - smarter
annotations:
  helm.sh/chart: smarter-0.8.2
  artifacthub.io/changes: |
    - kind: fixed
      description: pass common env sql secrets to mysql and mariadb subcharts
  artifacthub.io/license: AGPL-3.0
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/images: |
    - name: smarter
      image: queensu-mcdaniel/smarter:0.13.25
  artifacthub.io/links: |
    - name: Website
      url: https://smarter.sh
    - name: GitHub
      url: https://github.com/smarter-sh/smarter
    - name: Chart Source
      url: https://github.com/smarter-sh/smarter/tree/main/helm/charts/smarter
    - name: Documentation
      url: https://platform.smarter.sh/docs/
    - name: Support
      url: https://github.com/smarter-sh/smarter/issues
  artifacthub.io/maintainers: |
      - name: Lawrence McDaniel
        email: lpm0073@gmail.com
  artifacthub.io/operator: "true"
  artifacthub.io/prerelease: "false"
  artifacthub.io/recommendations: |
    - url: https://artifacthub.io/packages/helm/bitnami/redis
  artifacthub.io/signKey: |
      fingerprint: FC3130197AED484D9B5FA847440711F032A1DCBB1B813D458CF71FB90CC2345D
      url: https://github.com/smarter-sh/smarter/raw/main/sigstore/artifacthub-cosign.pub
      key: |
        -----BEGIN PUBLIC KEY-----
        MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEd36XqSY/+wHzvq5sPFCNQk08oMxD
        3uAi/F4SjX9fbu2zjBuBTwSqd64D8Oi3LrHqNsO0J0RHiWI/qvZoU8poaA==
        -----END PUBLIC KEY-----
