apiVersion: v2
appVersion: 0.13.25
name: smarter
description: A Helm chart for deploying Smarter API and web console
type: application
version: 0.7.6
kubeVersion: ">=1.28.0-0"
home: https://smarter.sh
sources:
  - https://github.com/smarter-sh/smarter
maintainers:
  - name: Lawrence McDaniel
    email: lpm0073@gmail.com
dependencies:
  - name: redis
    version: 23.1.1
    repository: https://charts.bitnami.com/bitnami
icon: https://platform.smarter.sh/static/images/logo/smarter-crop.png
keywords:
  - smarter
  - plugins
  - api
  - web
  - console
  - education
  - cloud
  - deployment
  - k8s
  - kubernetes
  - redis
  - scalable
annotations:
  "helm.sh/chart": "smarter-0.7.6"
  "artifacthub.io/changes": |
    - kind: added
      description: Support for Kubernetes 1.28+
    - kind: changed
      description: Updated Redis dependency to 23.1.1
    - kind: fixed
      description: Multi-architecture builds for AMD64 and ARM64
    - kind: security
      description: Remove platform argument to support AWS Graviton instances
  "artifacthub.io/license": "AGPL-3.0"
