appName: smarter
workerName: smarter-worker
beatName: smarter-beat
appJobName: smarter-job-db-init
version: 0.8.0
deployment:
  containerPort: 8000
service:
  port: 8000
  targetPort: 8000
redis:
  fullnameOverride: "smarter-redis"
  auth:
    enabled: true
    password: "smarter"
  architecture: standalone
  image:
    pullPolicy: IfNotPresent
    pullSecrets:
      - dockerhub-secret
  master:
    imagePullSecrets:
      - dockerhub-secret
    containerSecurityContext:
      enabled: true
    persistence:
      enabled: true
      size: 1Gi
    podSecurityContext:
      enabled: true
    resources:
      requests:
        memory: "512Mi"
        cpu: "100m"
      limits:
        memory: "1Gi"
        cpu: "512m"
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
                - key: node-group
                  operator: In
                  values:
                    - smarter
    tolerations:
      - key: "node-group"
        operator: "Equal"
        value: "smarter"
        effect: "NoSchedule"
