# Documentation
sphinx==8.2.3                       # for Readthedocs
sphinx-rtd-theme==3.0.2             # Sphinx theme for Readthedocs
autodoc_pydantic==2.2.0             # Sphinx extension for Pydantic models

# Stuff for smarter.common.conf.Settings
# --------------------------------------
boto3==1.40.49
botocore==1.40.49
python-dotenv==1.1.1
pydantic==2.12.0
pydantic-settings==2.11.0
python-hcl2==7.3.1
validators==0.35.0
