---
#------------------------------------------------------------------------------
# GitHub Actions Workflow to Release Helm Chart to GitHub Container Registry
#------------------------------------------------------------------------------
name: Release Helm Chart

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Install oras and jq
        run: |
          sudo apt-get update
          sudo apt-get install -y jq
          curl -LO https://github.com/oras-project/oras/releases/download/v1.1.0/oras_1.1.0_linux_amd64.tar.gz
          tar -xzf oras_1.1.0_linux_amd64.tar.gz oras
          sudo mv oras /usr/local/bin/

      - name: Login to GHCR
        run: echo "${{ secrets.PAT }}" | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Package and Push Chart
        run: |
          helm package helm/charts/smarter
          helm push smarter-*.tgz oci://ghcr.io/${{ github.repository_owner }}/charts

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.4.0

      - name: Login to GHCR for Cosign
        run: |
          echo "${{ secrets.PAT }}" | cosign login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Extract Chart Version
        id: chart_version
        run: |
          VERSION=$(yq '.version' helm/charts/smarter/Chart.yaml)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Get Chart Digest
        id: chart_digest
        run: |
          CHART_REF="ghcr.io/${{ github.repository_owner }}/charts/smarter:${{ steps.chart_version.outputs.version }}"
          DIGEST=$(oras manifest fetch --descriptor $CHART_REF | jq -r .digest)
          echo "digest=$DIGEST" >> $GITHUB_OUTPUT

      - name: Sign OCI Helm Chart with Cosign
        env:
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
        run: |
          echo "${{ secrets.COSIGN_KEY }}" > cosign.key
          CHART_REF="ghcr.io/${{ github.repository_owner }}/charts/smarter@${{ steps.chart_digest.outputs.digest }}"
          cosign sign --yes --key cosign.key $CHART_REF

      - name: Verify OCI Helm Chart Signature
        run: |
          cosign verify --key sigstore/artifacthub-cosign.pub ghcr.io/${{ github.repository_owner }}/charts/smarter:${{ steps.chart_version.outputs.version }}

      - name: Create GitHub Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: smarter-*.tgz
