---
#------------------------------------------------------------------------------
# GitHub Actions Workflow to Release Helm Chart to GitHub Container Registry
#------------------------------------------------------------------------------
name: Release Helm Chart

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Login to GHCR
        run: echo "${{ secrets.PAT }}" | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Package and Push Chart
        run: |
          helm package helm/charts/smarter
          helm push smarter-*.tgz oci://ghcr.io/${{ github.repository_owner }}/charts

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: smarter-*.tgz
